# Imports

In [1]:
#pip install pgeocode

In [1]:
import numpy as np
import pandas as pd
import pgeocode
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# 2020

# Dataset
### CSV file needs some trimming before using it here. Columns not used and empty columns are removed manually

In [4]:
data20 = pd.read_csv("C:\\Users\\ARU PC\\Documents\\GitHub\\Data\\R13352094_SL860_2020.csv", header=[0,1])

In [5]:
data20.head()

    Area Name Total Population                \
     Geo_NAME    SE_A00001_001 SE_A00002_001
0  ZCTA 01001            16064         16064
1  ZCTA 01002            30099         30099
2  ZCTA 01003            11588         11588
3  ZCTA 01005             5166          5166
4  ZCTA 01007            15080         15080

  Population Density (Per Sq. Mile)   Area (Land)   Area Total:  \
                      SE_A00002_002 SE_A00002_003 SE_A00003_001
0                         1396.2700     11.504941     12.324010
1                          546.6186     55.063989     56.716990
2                        16290.1600      0.711350      0.716287
3                          116.7138     44.262132     44.519440
4                          286.6825     52.601739     55.281930

  Area Total: Area (Land) Area Total: Area (Water) Total Population:  \
            SE_A00003_002            SE_A00003_003     SE_A02001_001
0                11.50494                 0.819073             16064
1                55.06399                 1.653003             30099
2                 0.71135                 0.004937             11588
3                44.26213                 0.257308              5166
4                52.60174                 2.680195             15080

  Total Population: Male  ... Own Children under 18 Years  \
           SE_A02001_002  ...               SE_A10065_001
0                   7665  ...                        2469
1                  14800  ...                        3418
2                   5909  ...                           0
3                   2395  ...                         732
4                   7456  ...                        2967

  Own Children under 18 Years: Children Living with Single Parents  \
                                                     SE_A10065_002
0                                                801
1                                               1145
2                                                  0
3                                                163
4                                                411

     Households Households: 1-Person Household Households: 2-Person Household  \
  SE_A10066_001                  SE_A10066_002                  SE_A10066_003
0          6871                           2464                           2376
1         10182                           3082                           2779
2            23                             19                              0
3          1883                            370                            764
4          5667                           1141                           2159

  Households: 3-Person Household Households: 4-Person Household  \
                   SE_A10066_004                  SE_A10066_005
0                            986                            651
1                           2064                           1604
2                              0                              4
3                            371                            234
4                            737                           1052

  Households: 5-Person Household Households: 6-Person Household  \
                   SE_A10066_006                  SE_A10066_007
0                            318                             54
1                            509                            113
2                              0                              0
3                            129                             12
4                            469                            109

  Households: 7-or-More Person Household
                           SE_A10066_008
0                                     22
1                                     31
2                                      0
3                                      3
4                                      0

[5 rows x 2186 columns]

# Working dataset copy

In [130]:
df = data20.copy()

In [131]:
df.head()

    Area Name Total Population                \
     Geo_NAME    SE_A00001_001 SE_A00002_001
0  ZCTA 01001            16064         16064
1  ZCTA 01002            30099         30099
2  ZCTA 01003            11588         11588
3  ZCTA 01005             5166          5166
4  ZCTA 01007            15080         15080

  Population Density (Per Sq. Mile)   Area (Land)   Area Total:  \
                      SE_A00002_002 SE_A00002_003 SE_A00003_001
0                         1396.2700     11.504941     12.324010
1                          546.6186     55.063989     56.716990
2                        16290.1600      0.711350      0.716287
3                          116.7138     44.262132     44.519440
4                          286.6825     52.601739     55.281930

  Area Total: Area (Land) Area Total: Area (Water) Total Population:  \
            SE_A00003_002            SE_A00003_003     SE_A02001_001
0                11.50494                 0.819073             16064
1                55.06399                 1.653003             30099
2                 0.71135                 0.004937             11588
3                44.26213                 0.257308              5166
4                52.60174                 2.680195             15080

  Total Population: Male  ... Own Children under 18 Years  \
           SE_A02001_002  ...               SE_A10065_001
0                   7665  ...                        2469
1                  14800  ...                        3418
2                   5909  ...                           0
3                   2395  ...                         732
4                   7456  ...                        2967

  Own Children under 18 Years: Children Living with Single Parents  \
                                                     SE_A10065_002
0                                                801
1                                               1145
2                                                  0
3                                                163
4                                                411

     Households Households: 1-Person Household Households: 2-Person Household  \
  SE_A10066_001                  SE_A10066_002                  SE_A10066_003
0          6871                           2464                           2376
1         10182                           3082                           2779
2            23                             19                              0
3          1883                            370                            764
4          5667                           1141                           2159

  Households: 3-Person Household Households: 4-Person Household  \
                   SE_A10066_004                  SE_A10066_005
0                            986                            651
1                           2064                           1604
2                              0                              4
3                            371                            234
4                            737                           1052

  Households: 5-Person Household Households: 6-Person Household  \
                   SE_A10066_006                  SE_A10066_007
0                            318                             54
1                            509                            113
2                              0                              0
3                            129                             12
4                            469                            109

  Households: 7-or-More Person Household
                           SE_A10066_008
0                                     22
1                                     31
2                                      0
3                                      3
4                                      0

[5 rows x 2186 columns]

# Preprocess Data

## Extract zip codes

In [132]:
df.insert(0, 'zip_code', df[('Area Name', 'Geo_NAME')].astype(str).str[4:])
df.drop('Area Name', level = 0, axis =1, inplace=True)

In [133]:
df = df.loc[pd.to_numeric(df.zip_code).between(10000,20000)] # Filtering rows to limit the data we work on. Selecting group of states starting with 1

In [134]:
df.set_index('zip_code', inplace=True)

In [135]:
df.shape

(3658, 2185)

In [136]:
df.head()

         Total Population               Population Density (Per Sq. Mile)  \
            SE_A00001_001 SE_A00002_001                     SE_A00002_002
zip_code
 10001              25026         25026                         40727.190
 10002              74363         74363                         84652.810
 10003              54671         54671                         94841.060
 10004               3310          3310                          6168.662
 10005               8664          8664                        119198.800

           Area (Land)   Area Total: Area Total: Area (Land)  \
         SE_A00002_003 SE_A00003_001           SE_A00003_002
zip_code
 10001        0.614479      0.614479                0.614479
 10002        0.878447      0.878447                0.878447
 10003        0.576449      0.576449                0.576449
 10004        0.536583      0.541921                0.536583
 10005        0.072685      0.072685                0.072685

         Area Total: Area (Water) Total Population: Total Population: Male  \
                    SE_A00003_003     SE_A02001_001          SE_A02001_002
zip_code
 10001                   0.000000             25026                  12265
 10002                   0.000000             74363                  36656
 10003                   0.000000             54671                  26671
 10004                   0.005338              3310                   1567
 10005                   0.000000              8664                   4131

         Total Population: Female  ... Own Children under 18 Years  \
                    SE_A02001_003  ...               SE_A10065_001
zip_code                           ...
 10001                      12761  ...                        2556
 10002                      37707  ...                        7862
 10003                      28000  ...                        3617
 10004                       1743  ...                         244
 10005                       4533  ...                         884

         Own Children under 18 Years: Children Living with Single Parents  \
                                                            SE_A10065_002
zip_code
 10001                                                  714
 10002                                                 4300
 10003                                                  556
 10004                                                   36
 10005                                                   91

            Households Households: 1-Person Household  \
         SE_A10066_001                  SE_A10066_002
zip_code
 10001           13311                           7077
 10002           33790                          14399
 10003           25158                          13204
 10004            1822                            762
 10005            4649                           2297

         Households: 2-Person Household Households: 3-Person Household  \
                          SE_A10066_003                  SE_A10066_004
zip_code
 10001                             3913                           1325
 10002                            10578                           4802
 10003                             8396                           2156
 10004                              760                            221
 10005                             1567                            347

         Households: 4-Person Household Households: 5-Person Household  \
                          SE_A10066_005                  SE_A10066_006
zip_code
 10001                              761                            235
 10002                             2643                            973
 10003                             1303                             88
 10004                               69                             10
 10005                              428                             10

         Households: 6-Person Household Households: 7-or-More Person Household
                          SE_A10066_007                          SE_A10066_008
zip_code
 10001                                0                                      0
 10002                              212                                    183
 10003                                0                                     11
 10004                                0                                      0
 10005                                0                                      0

[5 rows x 2185 columns]

### Extracting only the tables required for the analysis from the dataset

In [137]:
table_names = ['SE_B13004', 'SE_B18002', 'SE_A03001', 'SE_A13007', 'SE_A14028','SE_A14024_', 'SE_B12001', 'SE_A12003', 'SE_A12004', 'SE_A17005', 'SE_A17009', 'SE_A20001', 'SE_A00002','SE_A10036','SE_A18009']
matching_columns = [col for col in df.columns.get_level_values(1) if col.startswith(tuple(table_names))]
df = df.loc[:, df.columns.get_level_values(1).isin(matching_columns)]

In [138]:
# Check for missing values
df = df.dropna() # Drop rows with missing values

In [139]:
df.head()

,Total Population,Population Density (Per Sq. Mile),Area (Land),Total Population:,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,...,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force: Employed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force: Unemployed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: Not in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force: Employed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force: Unemployed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: Not in Labor Force
,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,25026,40727.190,0.614479,25026,15880,1619,11,5201,63,833,...,2408,790,533,257,1618,19162,15645,15213,432,3517
10002,74363,84652.810,0.878447,74363,23574,6645,713,31140,0,7944,...,16688,3398,2542,856,13290,48150,31351,29828,1523,16799
10003,54671,94841.060,0.576449,54671,39951,2759,112,8244,69,1329,...,3983,963,650,313,3020,38046,31081,30375,706,6965
10004,3310,6168.662,0.536583,3310,2259,160,0,674,12,13,...,93,21,20,1,72,2978,2605,2519,86,373
10005,8664,119198.800,0.072685,8664,6326,174,0,1514,0,214,...,628,434,392,42,194,7174,6796,6672,124,378

## Processing dataset column wise

### Processing Y variable
The number of families for each zip code are available for poverty ratios less than 1, between 1 and 2 and more than 2.
All the families with ratio under 2 are considered to be 'poor' or 'struggling' and over 2 are considered to be ok.  
  
Based on this information, we convert this information into one column which has values 0 or 1  
0 - if more than 50% of families in the zip code have a ratio over 2 ('ok')  
1 - if 50% or more of families in the zip code are having ratio under 2 ('struggling')

In [140]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_B13004')]

,Population for Whom Poverty Status Is Determined:,Population for Whom Poverty Status Is Determined: Under 1.00 (Doing Poorly),Population for Whom Poverty Status Is Determined: 1.00 to 1.99 (Struggling),Population for Whom Poverty Status Is Determined: Under 2.00 (Poor or Struggling),Population for Whom Poverty Status Is Determined: 2.00 and Over (Doing Ok)
,SE_B13004_001,SE_B13004_002,SE_B13004_003,SE_B13004_004,SE_B13004_005
zip_code,,,,,
10001,24140,2798,1990,4788,19352
10002,73597,20257,17475,37732,35865
10003,45570,4040,3068,7108,38462
10004,3310,93,61,154,3156
10005,8664,653,264,917,7747
...,...,...,...,...,...
19971,13901,1011,1058,2069,11832
19973,25638,4046,4512,8558,17080
19975,9317,747,1217,1964,7353
19977,22597,2030,2684,4714,17883
19979,737,42,168,210,527

In [141]:
df['underPoverty'] = np.where(df[('Population for Whom Poverty Status Is Determined: 2.00 and Over (Doing Ok)', 'SE_B13004_005')].div(df[('Population for Whom Poverty Status Is Determined:', 'SE_B13004_001')]) < 0.5,1,0) # F13004 table contains the number of families within the different ratio ranges
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_B13004')] # Drop the columns from the table after processing

In [142]:
len(df.loc[df['underPoverty'] == 1]) # There are 159 zip codes in region 1 which have more than 50% of families that are poor or struggling

159

# Income

### Below Poverty line
Poverty Status in the Past 12 Months based on income level. Proportion of population having income below poverty level

In [143]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_A13007')]

,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force: Employed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: in Labor Force: Unemployed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level: Male: Not in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force: Employed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: in Labor Force: Unemployed,Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months At or Above Poverty Level: Male: Not in Labor Force
,SE_A13007_001,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,
10001,21570,2408,790,533,257,1618,19162,15645,15213,432,3517
10002,64838,16688,3398,2542,856,13290,48150,31351,29828,1523,16799
10003,42029,3983,963,650,313,3020,38046,31081,30375,706,6965
10004,3071,93,21,20,1,72,2978,2605,2519,86,373
10005,7802,628,434,392,42,194,7174,6796,6672,124,378
...,...,...,...,...,...,...,...,...,...,...,...
19971,13139,932,400,244,156,532,12207,6530,6345,185,5677
19973,20634,2971,1360,932,428,1611,17663,11740,11265,475,5923
19975,8270,687,350,256,94,337,7583,3967,3826,141,3616
19977,17307,1448,555,440,115,893,15859,10881,10491,390,4978
19979,629,42,29,29,0,13,587,450,447,3,137

In [144]:
df['incomeBelowPovertyLevelProportion'] = ((df[('Civilian Population 16 Years and Over for Whom Poverty Status Is Determined: Income in the Past 12 Months Below Poverty Level', 'SE_A13007_002')].values) /(df[('Civilian Population 16 Years and Over for Whom Poverty Status Is Determined', 'SE_A13007_001')]))
df.incomeBelowPovertyLevelProportion.describe()
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A13007')] # Drop the columns from the table after processing

## Per Capita

In [145]:
df.loc[:, 'incomePerCapita'] = df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A14024')].values
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A14024')] # Drop the columns from the table after processing
df.incomePerCapita.describe()

count      2857.000000
mean      35812.259013
std       16211.374064
min        4608.000000
25%       26830.000000
50%       31624.000000
75%       39362.000000
max      182463.000000
Name: incomePerCapita, dtype: float64

## GiniIndex

In [146]:
df.loc[:, 'incomeGiniIndex'] = df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A14028_001')]

In [147]:
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A14028')] # Drop the columns from the table after processing

In [148]:
df.incomeGiniIndex.describe()

count    2857.000000
mean        0.419484
std         0.060115
min         0.091900
25%         0.381500
50%         0.414900
75%         0.452700
max         0.726300
Name: incomeGiniIndex, dtype: float64

In [149]:
df.head()

,Total Population,Population Density (Per Sq. Mile),Area (Land),Total Population:,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,...,Median Gross Rent,Total:,Total: No Health Insurance Coverage,Total: with Health Insurance Coverage,Total: with Health Insurance Coverage: Public Health Coverage,Total: with Health Insurance Coverage: Private Health Insurance,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,25026,40727.190,0.614479,25026,15880,1619,11,5201,63,833,...,2169.0,25026,643,24383,6676,19803,0,0.111637,91461.0,0.5580
10002,74363,84652.810,0.878447,74363,23574,6645,713,31140,0,7944,...,979.0,73993,3491,70502,40907,34476,1,0.257380,34078.0,0.5909
10003,54671,94841.060,0.576449,54671,39951,2759,112,8244,69,1329,...,2437.0,54514,1572,52942,9566,47432,0,0.094768,100740.0,0.5574
10004,3310,6168.662,0.536583,3310,2259,160,0,674,12,13,...,3393.0,3310,89,3221,277,3043,0,0.030283,182463.0,0.4869
10005,8664,119198.800,0.072685,8664,6326,174,0,1514,0,214,...,3501.0,8664,166,8498,568,8089,0,0.080492,120941.0,0.3805

In [150]:
df.shape

(2857, 66)

In [151]:
df.dropna()

,Total Population,Population Density (Per Sq. Mile),Area (Land),Total Population:,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,...,Median Gross Rent,Total:,Total: No Health Insurance Coverage,Total: with Health Insurance Coverage,Total: with Health Insurance Coverage: Public Health Coverage,Total: with Health Insurance Coverage: Private Health Insurance,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,25026,40727.1900,0.614479,25026,15880,1619,11,5201,63,833,...,2169.0,25026,643,24383,6676,19803,0,0.111637,91461.0,0.5580
10002,74363,84652.8100,0.878447,74363,23574,6645,713,31140,0,7944,...,979.0,73993,3491,70502,40907,34476,1,0.257380,34078.0,0.5909
10003,54671,94841.0600,0.576449,54671,39951,2759,112,8244,69,1329,...,2437.0,54514,1572,52942,9566,47432,0,0.094768,100740.0,0.5574
10004,3310,6168.6620,0.536583,3310,2259,160,0,674,12,13,...,3393.0,3310,89,3221,277,3043,0,0.030283,182463.0,0.4869
10005,8664,119198.8000,0.072685,8664,6326,174,0,1514,0,214,...,3501.0,8664,166,8498,568,8089,0,0.080492,120941.0,0.3805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19971,13922,840.9839,16.554420,13922,12427,724,9,212,2,140,...,1290.0,13884,482,13402,6444,11106,0,0.070934,66155.0,0.5371
19973,25991,330.4305,78.658008,25991,17110,6147,0,407,0,592,...,866.0,25701,1904,23797,12028,15788,0,0.143986,27953.0,0.4273
19975,9336,343.0272,27.216503,9336,8600,304,17,126,0,139,...,1145.0,9274,703,8571,4378,6688,0,0.083071,44100.0,0.4689
19977,25536,306.4013,83.341693,25536,15780,7909,17,190,0,170,...,1159.0,22397,2030,20367,8215,15545,0,0.083666,29658.0,0.3936
19979,738,363.7874,2.028657,738,738,0,0,0,0,0,...,1193.0,738,6,732,162,678,0,0.066773,30192.0,0.2648

## Race, Population

In [152]:
df.head(2)

,Total Population,Population Density (Per Sq. Mile),Area (Land),Total Population:,Total Population: White Alone,Total Population: Black or African American Alone,Total Population: American Indian and Alaska Native Alone,Total Population: Asian Alone,Total Population: Native Hawaiian and Other Pacific Islander Alone,Total Population: Some Other Race Alone,...,Median Gross Rent,Total:,Total: No Health Insurance Coverage,Total: with Health Insurance Coverage,Total: with Health Insurance Coverage: Public Health Coverage,Total: with Health Insurance Coverage: Private Health Insurance,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,25026,40727.19,0.614479,25026,15880,1619,11,5201,63,833,...,2169.0,25026,643,24383,6676,19803,0,0.111637,91461.0,0.5580
10002,74363,84652.81,0.878447,74363,23574,6645,713,31140,0,7944,...,979.0,73993,3491,70502,40907,34476,1,0.257380,34078.0,0.5909

In [153]:
df.loc[:, 'popDensity'] = df.loc[:,('Population Density (Per Sq. Mile)','SE_A00002_002')].values 
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A00001')] # Drop the columns from the table after processing
df.popDensity.describe()

count      2857.000000
mean       4050.835274
std       13472.099148
min           0.907872
25%          66.756720
50%         260.975600
75%        1759.063000
max      153099.800000
Name: popDensity, dtype: float64

In [154]:
df.drop(['SE_A00002_001','SE_A00002_003', ], axis = 1, level = 1, inplace = True) #dropping Total population and population density

### White Majority
We check if white-only population is the majority in a zip code  
Primarily non-white areas might be experiencing higher levels of poverty.  
0 - if less than 50% of population in the zip code are white  
1 - if more than 50% of families in the zip code are non-white

In [155]:
df.drop(df.loc[df.loc[:,df.columns.get_level_values(1).str.startswith('SE_A03001_001')].isin([0]).any(axis = 1)].index, inplace = True)
df.loc[:, 'whiteMajority'] = ((df.loc[:,'Total Population: White Alone'].values) / (df.loc[:,'Total Population:'].values)) # If the proportion of white alone population is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A03001')] # Drop the columns from the table after processing
df['whiteMajority'].describe()

count    2857.000000
mean        0.852985
std         0.193046
min         0.022483
25%         0.821412
50%         0.929577
75%         0.971679
max         1.000000
Name: whiteMajority, dtype: float64

## Education

### Highest degree attainment

In [156]:
df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_B12001_')]

,Population 25 Years and Over,Population 25 Years and Over: Less than High School,Population 25 Years and Over: High School Diploma,Population 25 Years and Over: Bachelor's Degree or Better
,SE_B12001_001,SE_B12001_002,SE_B12001_003,SE_B12001_004
zip_code,,,,
10001,19550,1478,3955,14117
10002,58942,19956,18645,20341
10003,38411,1700,5536,31175
10004,2899,13,161,2725
10005,6698,17,541,6140
...,...,...,...,...
19971,12513,482,5648,6383
19973,18093,2962,11832,3299
19975,7677,738,4225,2714
19977,18153,1831,12222,4100
19979,613,56,436,121

In [157]:
df = df.loc[df['Population 25 Years and Over','SE_B12001_001'] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows

In [158]:
df.loc[:, 'eduHsOrLessProportion'] = ((df.loc[:,('Population 25 Years and Over: Less than High School','SE_B12001_002')].values) / (df.loc[:,('Population 25 Years and Over','SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduHsProportion'] = ((df.loc[:,('Population 25 Years and Over: High School Diploma','SE_B12001_003')].values) / (df.loc[:,('Population 25 Years and Over','SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduBachOrBetterProportion'] = ((df.loc[:,('Population 25 Years and Over: Bachelor\'s Degree or Better','SE_B12001_004')].values) / (df.loc[:,('Population 25 Years and Over','SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_B12001_')] # Drop the columns from the table after processing
print(df.eduHsOrLessProportion.describe())
print(df.eduHsProportion.describe())
print(df.eduBachOrBetterProportion.describe())

count    2857.000000
mean        0.098504
std         0.064030
min         0.000000
25%         0.054960
50%         0.085739
75%         0.124688
max         0.495264
Name: eduHsOrLessProportion, dtype: float64
count    2857.000000
mean        0.615241
std         0.146860
min         0.055536
25%         0.542281
50%         0.648951
75%         0.717831
max         1.000000
Name: eduHsProportion, dtype: float64
count    2857.000000
mean        0.286255
std         0.165522
min         0.000000
25%         0.167004
50%         0.241355
75%         0.365803
max         0.939979
Name: eduBachOrBetterProportion, dtype: float64

### School Enrollment

In [159]:
df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A12004')] # Drop the columns from the table after processing

,Population 3 Years and Over:,Population 3 Years and Over: Enrolled in School,Population 3 Years and Over: Not Enrolled in School
,SE_A12004_001,SE_A12004_002,SE_A12004_003
zip_code,,,
10001,24467,4216,20251
10002,72935,12646,60289
10003,53470,14810,38660
10004,3215,288,2927
10005,8430,1127,7303
...,...,...,...
19971,13789,1217,12572
19973,25110,5829,19281
19975,9185,1316,7869
19977,24712,5950,18762
19979,736,174,562

In [160]:
df.loc[:, 'eduEnrollmentProportion'] = ((df.loc[:,('Population 3 Years and Over: Enrolled in School','SE_A12004_002')].values) / (df.loc[:,('Population 3 Years and Over:','SE_A12004_001')].values)) # If the proportion of 3yo and over enrolled in school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A12004')] # Drop the columns from the table after processing
df['eduEnrollmentProportion'].describe()

count    2857.000000
mean        0.217090
std         0.065854
min         0.000000
25%         0.180811
50%         0.213097
75%         0.248063
max         0.903481
Name: eduEnrollmentProportion, dtype: float64

### School Dropout rate

In [161]:
df = df.loc[df['Civilian Population 16 to 19 Years:','SE_A12003_001'] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [162]:
df.loc[:, 'eduDropoutProportion'] = ((df.loc[:,('Civilian Population 16 to 19 Years: Not High School Graduate, Not Enrolled (Dropped Out)','SE_A12003_002')].values) / (df.loc[:,('Civilian Population 16 to 19 Years:','SE_A12003_001')].values)) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A12003')] # Drop the columns from the table after processing
df.eduDropoutProportion.describe()

count    2811.000000
mean        0.056401
std         0.113576
min         0.000000
25%         0.000000
50%         0.011923
75%         0.061777
max         1.000000
Name: eduDropoutProportion, dtype: float64

# Employement

## Proportion of labor force employed

In [163]:
df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A17005')]

,Civilian Population in Labor Force 16 Years and Over:,Civilian Population in Labor Force 16 Years and Over: Employed,Civilian Population in Labor Force 16 Years and Over: Unemployed,Civilian Male in Labor Force 16 Years and Over:,Civilian Male in Labor Force 16 Years and Over: Employed,Civilian Male in Labor Force 16 Years and Over: Unemployed,Civilian Female in Labor Force 16 Years and Over:,Civilian Female in Labor Force 16 Years and Over: Employed,Civilian Female in Labor Force 16 Years and Over: Unemployed
,SE_A17005_001,SE_A17005_002,SE_A17005_003,SE_A17005A_001,SE_A17005A_002,SE_A17005A_003,SE_A17005B_001,SE_A17005B_002,SE_A17005B_003
zip_code,,,,,,,,,
10001,16643,15888,755,8738,8415,323,7905,7473,432
10002,34864,32479,2385,17851,16598,1253,17013,15881,1132
10003,34721,33166,1555,17368,16687,681,17353,16479,874
10004,2626,2539,87,1402,1372,30,1224,1167,57
10005,7230,7064,166,3513,3513,0,3717,3551,166
...,...,...,...,...,...,...,...,...,...
19971,6930,6589,341,3420,3277,143,3510,3312,198
19973,13100,12197,903,6475,6018,457,6625,6179,446
19975,4317,4082,235,2328,2178,150,1989,1904,85
19977,11436,10931,505,5201,4935,266,6235,5996,239
19979,479,476,3,276,276,0,203,200,3

In [164]:
df = df.loc[df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [165]:
# df.loc[:, 'employedMajority'] = np.where((df.loc[:,('Civilian Population in Labor Force 16 Years and Over: Employed' ,'SE_A17005_002')].values) / (df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')].values) > 0.5,1,0) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df.loc[:, 'employedProportion'] = ((df.loc[:,('Civilian Population in Labor Force 16 Years and Over: Employed' ,'SE_A17005_002')].values) / (df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')].values))
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A17005')] # Drop the columns from the table after processing
df.employedProportion.describe()

count    2811.000000
mean        0.947891
std         0.033163
min         0.703980
25%         0.934521
50%         0.953821
75%         0.968725
max         1.000000
Name: employedProportion, dtype: float64

### Employment by sector

In [166]:
df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A17009')]

,Employed Civilian Population 16 Years and Over:,Employed Civilian Population 16 Years and Over: Private Sector,Employed Civilian Population 16 Years and Over: Public Sector,Employed Civilian Population 16 Years and Over: Self-Employed (Incorporated and Not Incorporated),Employed Civilian Population 16 Years and Over: Private Non-Profit,Employed Civilian Population 16 Years and Over: Unpaid Family Workers
,SE_A17009_001,SE_A17009_002,SE_A17009_003,SE_A17009_004,SE_A17009_005,SE_A17009_006
zip_code,,,,,,
10001,15888,11567,904,2138,1279,0
10002,32479,22467,3553,3652,2553,254
10003,33166,22250,1958,4820,4106,32
10004,2539,1665,127,529,183,35
10005,7064,5832,401,394,437,0
...,...,...,...,...,...,...
19971,6589,3896,835,1127,731,0
19973,12197,8207,1472,1537,920,61
19975,4082,2477,686,542,369,8
19977,10931,6672,2674,815,770,0
19979,476,250,167,47,12,0

In [167]:
df.loc[:, 'employedPvtSecProportion'] = ((df.loc[:,('Employed Civilian Population 16 Years and Over: Private Sector' ,'SE_A17009_002')].values) / (df.loc[:,('Employed Civilian Population 16 Years and Over:','SE_A17009_001')].values))
df.loc[:, 'employedPubSecProportion'] = ((df.loc[:,('Employed Civilian Population 16 Years and Over: Public Sector' ,'SE_A17009_003')].values) / (df.loc[:,('Employed Civilian Population 16 Years and Over:','SE_A17009_001')].values))
df.loc[:, 'employedSelfEmpProportion'] = ((df.loc[:,('Employed Civilian Population 16 Years and Over: Self-Employed (Incorporated and Not Incorporated)' ,'SE_A17009_004')].values) / (df.loc[:,('Employed Civilian Population 16 Years and Over:','SE_A17009_001')].values))
df.loc[:, 'employedPvtNonProProportion'] = ((df.loc[:,('Employed Civilian Population 16 Years and Over: Private Non-Profit' ,'SE_A17009_005')].values) / (df.loc[:,('Employed Civilian Population 16 Years and Over:','SE_A17009_001')].values))
df.loc[:, 'employedUnpaidFamProportion'] = ((df.loc[:,('Employed Civilian Population 16 Years and Over: Unpaid Family Workers' ,'SE_A17009_006')].values) / (df.loc[:,('Employed Civilian Population 16 Years and Over:','SE_A17009_001')].values))
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A17009')] # Drop the columns from the table after processing

In [168]:
df.loc[:, 'employedUnpaidFamProportion']

zip_code
 10001    0.000000
 10002    0.007820
 10003    0.000965
 10004    0.013785
 10005    0.000000
            ...
 19971    0.000000
 19973    0.005001
 19975    0.001960
 19977    0.000000
 19979    0.000000
Name: employedUnpaidFamProportion, Length: 2811, dtype: float64

## Health

In [169]:
df.loc[: ,df.columns.get_level_values(1).str.startswith('SE_A20001')]

,Total:,Total: No Health Insurance Coverage,Total: with Health Insurance Coverage,Total: with Health Insurance Coverage: Public Health Coverage,Total: with Health Insurance Coverage: Private Health Insurance
,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005
zip_code,,,,,
10001,25026,643,24383,6676,19803
10002,73993,3491,70502,40907,34476
10003,54514,1572,52942,9566,47432
10004,3310,89,3221,277,3043
10005,8664,166,8498,568,8089
...,...,...,...,...,...
19971,13884,482,13402,6444,11106
19973,25701,1904,23797,12028,15788
19975,9274,703,8571,4378,6688
19977,22397,2030,20367,8215,15545
19979,738,6,732,162,678

In [170]:
df = df.loc[df.loc[:,('Total:','SE_A20001_001')] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows
df.loc[:, 'insuredProportion'] = ((df.loc[:,('Total: with Health Insurance Coverage' ,'SE_A20001_003')].values) / (df.loc[:,('Total:','SE_A20001_001')].values))
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A20001')] # Drop the columns from the table after processing
df.insuredProportion.describe()

count    2811.000000
mean        0.943974
std         0.054232
min         0.423913
25%         0.932711
50%         0.956721
75%         0.973095
max         1.000000
Name: insuredProportion, dtype: float64

In [171]:
df.shape

(2811, 24)

# Housing

### Proportion of renters spending more than 30% of income on rent

Here, we are only concerned with Renter-Occupied Housing Units who are paying the rent which is more than 30% of their income

In [172]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_B18002')]

,Renter-Occupied Housing Units,Renter-Occupied Housing Units: 30 to 49 Percent,Renter-Occupied Housing Units: 50 percent or More
,SE_B18002_001,SE_B18002_002,SE_B18002_003
zip_code,,,
10001,9711,2262,1525
10002,28895,7925,6997
10003,16470,3186,3662
10004,1125,148,182
10005,3914,831,498
...,...,...,...
19971,899,191,393
19973,2453,691,515
19975,653,282,126
19977,1748,455,437
19979,40,0,0

In [173]:
df = df.loc[df.loc[:, ('Renter-Occupied Housing Units', 'SE_B18002_001')] != 0] # Remove observations with 0 to avoid error while dividing
df.loc[:, 'housingRentMoreThan30pcProportion'] = ((df.loc[:,('Renter-Occupied Housing Units: 30 to 49 Percent' ,'SE_B18002_002')].values + df.loc[:,('Renter-Occupied Housing Units: 50 percent or More' ,'SE_B18002_003')].values ) / (df.loc[:,('Renter-Occupied Housing Units','SE_B18002_001')].values))
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_B18002')] # Drop the columns from the table after processing

In [174]:
df.head()

,Population Density (Per Sq. Mile),Median Value,Median Gross Rent,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
,SE_A00002_002,SE_A10036_001,SE_A18009_001,,,,,,,,...,,,,,,,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,40727.190,403800.0,2169.0,0,0.111637,91461.0,0.5580,40727.190,0.634540,0.075601,...,0.172314,0.000000,0.954636,0.728034,0.056898,0.134567,0.080501,0.000000,0.974307,0.389970
10002,84652.810,696900.0,979.0,1,0.257380,34078.0,0.5909,84652.810,0.317012,0.338570,...,0.173387,0.012450,0.931591,0.691739,0.109394,0.112442,0.078605,0.007820,0.952820,0.516422
10003,94841.060,989500.0,2437.0,0,0.094768,100740.0,0.5574,94841.060,0.730753,0.044258,...,0.276978,0.003927,0.955214,0.670868,0.059036,0.145330,0.123801,0.000965,0.971163,0.415786
10004,6168.662,1892400.0,3393.0,0,0.030283,182463.0,0.4869,6168.662,0.682477,0.004484,...,0.089580,0.000000,0.966870,0.655770,0.050020,0.208350,0.072076,0.013785,0.973112,0.293333
10005,119198.800,1159600.0,3501.0,0,0.080492,120941.0,0.3805,119198.800,0.730148,0.002538,...,0.133689,0.000000,0.977040,0.825595,0.056767,0.055776,0.061863,0.000000,0.980840,0.339550

In [175]:
df.shape

(2811, 22)

### Housing Units by Monthly Housing Costs

In [176]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_A10036')]

          Median Value
         SE_A10036_001
zip_code
 10001        403800.0
 10002        696900.0
 10003        989500.0
 10004       1892400.0
 10005       1159600.0
...                ...
 19971        411200.0
 19973        201700.0
 19975        343500.0
 19977        239400.0
 19979        200900.0

[2811 rows x 1 columns]

In [177]:
df.loc[:, 'housingMedianValue'] = ((df.loc[:,('Median Value' ,'SE_A10036_001')].values))

In [178]:
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A10036_')] # Drop the columns from the table after processing

In [179]:
df.head()

,Population Density (Per Sq. Mile),Median Gross Rent,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,...,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue
,SE_A00002_002,SE_A18009_001,,,,,,,,,...,,,,,,,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,40727.190,2169.0,0,0.111637,91461.0,0.5580,40727.190,0.634540,0.075601,0.202302,...,0.000000,0.954636,0.728034,0.056898,0.134567,0.080501,0.000000,0.974307,0.389970,403800.0
10002,84652.810,979.0,1,0.257380,34078.0,0.5909,84652.810,0.317012,0.338570,0.316328,...,0.012450,0.931591,0.691739,0.109394,0.112442,0.078605,0.007820,0.952820,0.516422,696900.0
10003,94841.060,2437.0,0,0.094768,100740.0,0.5574,94841.060,0.730753,0.044258,0.144125,...,0.003927,0.955214,0.670868,0.059036,0.145330,0.123801,0.000965,0.971163,0.415786,989500.0
10004,6168.662,3393.0,0,0.030283,182463.0,0.4869,6168.662,0.682477,0.004484,0.055536,...,0.000000,0.966870,0.655770,0.050020,0.208350,0.072076,0.013785,0.973112,0.293333,1892400.0
10005,119198.800,3501.0,0,0.080492,120941.0,0.3805,119198.800,0.730148,0.002538,0.080770,...,0.000000,0.977040,0.825595,0.056767,0.055776,0.061863,0.000000,0.980840,0.339550,1159600.0

### Median Gross Rent

In [180]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_A18009')]

         Median Gross Rent
             SE_A18009_001
zip_code
 10001              2169.0
 10002               979.0
 10003              2437.0
 10004              3393.0
 10005              3501.0
...                    ...
 19971              1290.0
 19973               866.0
 19975              1145.0
 19977              1159.0
 19979              1193.0

[2811 rows x 1 columns]

In [181]:
df.loc[:, 'housingMedianGrossRent'] = ((df.loc[:,('Median Gross Rent' ,'SE_A18009_001')].values))

In [182]:
df = df.loc[: ,~df.columns.get_level_values(1).str.startswith('SE_A18009_')] # Drop the columns from the table after processing

In [183]:
df.shape

(2811, 22)

In [184]:
df.head()

,Population Density (Per Sq. Mile),underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
,SE_A00002_002,,,,,,,,,,...,,,,,,,,,,
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,40727.190,0,0.111637,91461.0,0.5580,40727.190,0.634540,0.075601,0.202302,0.722097,...,0.954636,0.728034,0.056898,0.134567,0.080501,0.000000,0.974307,0.389970,403800.0,2169.0
10002,84652.810,1,0.257380,34078.0,0.5909,84652.810,0.317012,0.338570,0.316328,0.345102,...,0.931591,0.691739,0.109394,0.112442,0.078605,0.007820,0.952820,0.516422,696900.0,979.0
10003,94841.060,0,0.094768,100740.0,0.5574,94841.060,0.730753,0.044258,0.144125,0.811616,...,0.955214,0.670868,0.059036,0.145330,0.123801,0.000965,0.971163,0.415786,989500.0,2437.0
10004,6168.662,0,0.030283,182463.0,0.4869,6168.662,0.682477,0.004484,0.055536,0.939979,...,0.966870,0.655770,0.050020,0.208350,0.072076,0.013785,0.973112,0.293333,1892400.0,3393.0
10005,119198.800,0,0.080492,120941.0,0.3805,119198.800,0.730148,0.002538,0.080770,0.916692,...,0.977040,0.825595,0.056767,0.055776,0.061863,0.000000,0.980840,0.339550,1159600.0,3501.0

In [185]:
df = df.droplevel(1, axis = 'columns')

In [188]:
df.drop('Population Density (Per Sq. Mile)',axis=1,inplace=True)

In [189]:
df.head()

,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,eduEnrollmentProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,0,0.111637,91461.0,0.5580,40727.190,0.634540,0.075601,0.202302,0.722097,0.172314,...,0.954636,0.728034,0.056898,0.134567,0.080501,0.000000,0.974307,0.389970,403800.0,2169.0
10002,1,0.257380,34078.0,0.5909,84652.810,0.317012,0.338570,0.316328,0.345102,0.173387,...,0.931591,0.691739,0.109394,0.112442,0.078605,0.007820,0.952820,0.516422,696900.0,979.0
10003,0,0.094768,100740.0,0.5574,94841.060,0.730753,0.044258,0.144125,0.811616,0.276978,...,0.955214,0.670868,0.059036,0.145330,0.123801,0.000965,0.971163,0.415786,989500.0,2437.0
10004,0,0.030283,182463.0,0.4869,6168.662,0.682477,0.004484,0.055536,0.939979,0.089580,...,0.966870,0.655770,0.050020,0.208350,0.072076,0.013785,0.973112,0.293333,1892400.0,3393.0
10005,0,0.080492,120941.0,0.3805,119198.800,0.730148,0.002538,0.080770,0.916692,0.133689,...,0.977040,0.825595,0.056767,0.055776,0.061863,0.000000,0.980840,0.339550,1159600.0,3501.0

In [190]:
df.to_csv('preprocessed_2020.csv')