# Imports

In [1]:
#pip install pgeocode

In [2]:
import numpy as np
import pandas as pd
import pgeocode
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# 2021

# Dataset
### CSV file needs some trimming before using it here. Columns not used and empty columns are removed manually

In [3]:
data21 = pd.read_csv("C:\\Users\\ARU PC\\Documents\\GitHub\\Data\\2021_trimmed.csv")

In [4]:
data21.head()

,Geo_QName,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,SE_A02001_003,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
0,1001,16088,1424.6630,11.292497,12.114230,11.292500,0.821730,16088,7996,8092,...,2526,783,6791,2195,2496,947,750,314,62,27
1,1002,27323,513.0521,53.255802,54.908740,53.255800,1.652938,27323,13344,13979,...,3349,888,9985,3164,2675,2074,1502,436,97,37
2,1003,13711,17050.8700,0.804123,0.809529,0.804123,0.005406,13711,6666,7045,...,0,0,15,0,15,0,0,0,0,0
3,1005,4947,114.5428,43.189077,43.446380,43.189080,0.257308,4947,2249,2698,...,750,227,1761,250,785,368,233,109,0,16
4,1007,15304,278.9168,54.869406,57.547950,54.869410,2.678543,15304,7668,7636,...,2960,414,5917,1202,2312,818,959,502,124,0

# Working dataset copy

In [64]:
df = data21.copy()

In [65]:
df.head()

,Geo_QName,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,SE_A02001_003,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
0,1001,16088,1424.6630,11.292497,12.114230,11.292500,0.821730,16088,7996,8092,...,2526,783,6791,2195,2496,947,750,314,62,27
1,1002,27323,513.0521,53.255802,54.908740,53.255800,1.652938,27323,13344,13979,...,3349,888,9985,3164,2675,2074,1502,436,97,37
2,1003,13711,17050.8700,0.804123,0.809529,0.804123,0.005406,13711,6666,7045,...,0,0,15,0,15,0,0,0,0,0
3,1005,4947,114.5428,43.189077,43.446380,43.189080,0.257308,4947,2249,2698,...,750,227,1761,250,785,368,233,109,0,16
4,1007,15304,278.9168,54.869406,57.547950,54.869410,2.678543,15304,7668,7636,...,2960,414,5917,1202,2312,818,959,502,124,0

# Preprocess Data

## Extract zip codes

In [66]:
#df.insert(0, 'zip_code', df[('Area Name', 'Geo_NAME')].astype(str).str[4:])
#df.drop('Area Name', level = 0, axis =1, inplace=True)

In [67]:
df.rename(columns={'Geo_QName': 'zip_code'}, inplace=True)

In [68]:
df = df.loc[pd.to_numeric(df.zip_code).between(10000,20000)] # Filtering rows to limit the data we work on. Selecting group of states starting with 1

In [69]:
df.set_index('zip_code', inplace=True)

In [70]:
df.shape

(3726, 2185)

In [71]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,SE_A02001_003,SE_A02002_001,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,26966,43227.06,0.623822,0.623822,0.623822,0.0,26966,12570,14396,26966,...,2571,877,14273,7966,4145,1270,777,115,0,0
10002,76807,93406.05,0.822291,0.822291,0.822291,0.0,76807,38640,38167,76807,...,8532,4424,34737,15261,11054,4567,2761,716,206,172
10003,54447,95234.96,0.571712,0.571712,0.571712,0.0,54447,27219,27228,54447,...,3310,522,25181,13422,8489,1924,1219,113,8,6
10004,4795,10525.12,0.455577,0.455577,0.455577,0.0,4795,2539,2256,4795,...,989,36,2113,772,635,384,266,56,0,0
10005,8637,118529.50,0.072868,0.072868,0.072868,0.0,8637,3880,4757,8637,...,989,178,4782,2515,1530,264,473,0,0,0

### Extracting only the tables required for the analysis from the dataset

In [72]:
table_names = ['SE_B13004', 'SE_B18002', 'SE_A03001', 'SE_A13007', 'SE_A14028','SE_A14024_', 'SE_B12001', 'SE_A12003', 'SE_A12004', 'SE_A17005', 'SE_A17009', 'SE_A20001', 'SE_A00002','SE_A10036','SE_A18009']
matching_columns = [col for col in df.columns if col.startswith(tuple(table_names))]
df = df.loc[:, df.columns.isin(matching_columns)]

In [73]:
# Check for missing values
df = df.dropna() # Drop rows with missing values

In [74]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,26966,43227.06,0.623822,26966,16963,2117,40,4527,50,1091,...,2841,786,624,162,2055,20284,16773,16266,507,3511
10002,76807,93406.05,0.822291,76807,24687,6453,624,30288,19,8856,...,16542,3249,2465,784,13293,50191,33060,31112,1948,17131
10003,54447,95234.96,0.571712,54447,38481,2823,148,9110,45,873,...,4755,1086,654,432,3669,37018,30132,29397,735,6886
10004,4795,10525.12,0.455577,4795,2758,162,0,1593,0,20,...,113,19,18,1,94,3697,3245,3193,52,452
10005,8637,118529.50,0.072868,8637,6496,147,0,1180,0,279,...,303,267,143,124,36,7365,6970,6862,108,395

In [75]:
df.shape

(2809, 80)

## Processing dataset column wise

### Processing Y variable
The number of families for each zip code are available for poverty ratios less than 1, between 1 and 2 and more than 2.
All the families with ratio under 2 are considered to be 'poor' or 'struggling' and over 2 are considered to be ok.  
  
Based on this information, we convert this information into one column which has values 0 or 1  
0 - if more than 50% of families in the zip code have a ratio over 2 ('ok')  
1 - if 50% or more of families in the zip code are having ratio under 2 ('struggling')

In [76]:
df.loc[:, df.columns.str.startswith('SE_B13004')]

,SE_B13004_001,SE_B13004_002,SE_B13004_003,SE_B13004_004,SE_B13004_005
zip_code,,,,,
10001,26023,3557,1993,5550,20473
10002,76047,20554,16375,36929,39118
10003,44965,4872,2478,7350,37615
10004,4794,141,79,220,4574
10005,8637,303,95,398,8239
...,...,...,...,...,...
19971,14101,1130,968,2098,12003
19973,25302,4173,4551,8724,16578
19975,9609,667,1229,1896,7713
19977,22937,2402,2145,4547,18390
19979,628,44,112,156,472

In [77]:
df['underPoverty'] = np.where(df[('SE_B13004_005')].div(df[('SE_B13004_001')]) < 0.5,1,0) 
df = df.loc[: ,~df.columns.str.startswith('SE_B13004')] # Drop the columns from the table after processing

In [78]:
len(df.loc[df['underPoverty'] == 1]) # There are 148 zip codes in region 1 which have more than 50% of families that are poor or struggling

148

# Income

### Below Poverty line
Poverty Status in the Past 12 Months based on income level. Proportion of population having income below poverty level

In [79]:
df.loc[:, df.columns.str.startswith('SE_A13007')]

,SE_A13007_001,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,
10001,23125,2841,786,624,162,2055,20284,16773,16266,507,3511
10002,66733,16542,3249,2465,784,13293,50191,33060,31112,1948,17131
10003,41773,4755,1086,654,432,3669,37018,30132,29397,735,6886
10004,3810,113,19,18,1,94,3697,3245,3193,52,452
10005,7668,303,267,143,124,36,7365,6970,6862,108,395
...,...,...,...,...,...,...,...,...,...,...,...
19971,13271,1020,386,231,155,634,12251,6359,6224,135,5892
19973,20442,3034,1511,1092,419,1523,17408,11754,11215,539,5654
19975,8676,590,260,189,71,330,8086,4121,3896,225,3965
19977,17668,1700,781,673,108,919,15968,10835,10378,457,5133
19979,536,44,38,29,9,6,492,373,368,5,119

In [80]:
df['incomeBelowPovertyLevelProportion'] = ((df[('SE_A13007_002')].values) /(df[('SE_A13007_001')]))
df.incomeBelowPovertyLevelProportion.describe()
df = df.loc[: ,~df.columns.str.startswith('SE_A13007')] # Drop the columns from the table after processing

## Per Capita

In [81]:
df.loc[:, 'incomePerCapita'] = df.loc[: ,df.columns.str.startswith('SE_A14024')].values
df = df.loc[: ,~df.columns.str.startswith('SE_A14024')] # Drop the columns from the table after processing
df.incomePerCapita.describe()

count      2809.000000
mean      37809.395158
std       17445.114322
min        5116.000000
25%       28070.000000
50%       33322.000000
75%       41504.000000
max      190168.000000
Name: incomePerCapita, dtype: float64

## GiniIndex

In [82]:
df.loc[:, 'incomeGiniIndex'] = df.loc[: ,df.columns.str.startswith('SE_A14028_001')]

In [83]:
df = df.loc[: ,~df.columns.str.startswith('SE_A14028')] # Drop the columns from the table after processing

In [84]:
df.incomeGiniIndex.describe()

count    2809.000000
mean        0.421469
std         0.059241
min         0.156100
25%         0.384100
50%         0.416900
75%         0.455200
max         0.760200
Name: incomeGiniIndex, dtype: float64

In [85]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,26966,43227.06,0.623822,26966,16963,2117,40,4527,50,1091,...,2269.0,26966,800,26166,7241,21172,0,0.122854,94177.0,0.5524
10002,76807,93406.05,0.822291,76807,24687,6453,624,30288,19,8856,...,1047.0,76361,4255,72106,41115,35755,0,0.247883,37557.0,0.5922
10003,54447,95234.96,0.571712,54447,38481,2823,148,9110,45,873,...,2478.0,54273,1636,52637,9993,46799,0,0.113830,106585.0,0.5532
10004,4795,10525.12,0.455577,4795,2758,162,0,1593,0,20,...,3501.0,4795,51,4744,243,4607,0,0.029659,147878.0,0.4566
10005,8637,118529.50,0.072868,8637,6496,147,0,1180,0,279,...,3501.0,8637,83,8554,469,8153,0,0.039515,128970.0,0.3579

In [86]:
df.shape

(2809, 66)

In [87]:
df.dropna()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,26966,43227.0600,0.623822,26966,16963,2117,40,4527,50,1091,...,2269.0,26966,800,26166,7241,21172,0,0.122854,94177.0,0.5524
10002,76807,93406.0500,0.822291,76807,24687,6453,624,30288,19,8856,...,1047.0,76361,4255,72106,41115,35755,0,0.247883,37557.0,0.5922
10003,54447,95234.9600,0.571712,54447,38481,2823,148,9110,45,873,...,2478.0,54273,1636,52637,9993,46799,0,0.113830,106585.0,0.5532
10004,4795,10525.1200,0.455577,4795,2758,162,0,1593,0,20,...,3501.0,4795,51,4744,243,4607,0,0.029659,147878.0,0.4566
10005,8637,118529.5000,0.072868,8637,6496,147,0,1180,0,279,...,3501.0,8637,83,8554,469,8153,0,0.039515,128970.0,0.3579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19971,14132,786.7947,17.961482,14132,12344,927,4,255,0,185,...,1389.0,14105,353,13752,7024,10808,0,0.076859,71808.0,0.5314
19973,25619,305.0022,83.996108,25619,16798,5843,30,324,0,904,...,918.0,25368,1844,23524,11688,16004,0,0.148420,30349.0,0.4386
19975,9610,376.3289,25.536177,9610,8773,233,16,28,65,151,...,1123.0,9583,719,8864,4775,6751,0,0.068004,46887.0,0.4447
19977,25907,311.7339,83.106127,25907,15120,8375,20,224,0,200,...,1310.0,22637,1927,20710,8743,15621,0,0.096219,31613.0,0.4006
19979,641,195.2395,3.283146,641,624,0,0,0,0,0,...,1276.0,641,19,622,163,542,0,0.082090,35973.0,0.2933

## Race, Population

In [88]:
df.head(2)

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,26966,43227.06,0.623822,26966,16963,2117,40,4527,50,1091,...,2269.0,26966,800,26166,7241,21172,0,0.122854,94177.0,0.5524
10002,76807,93406.05,0.822291,76807,24687,6453,624,30288,19,8856,...,1047.0,76361,4255,72106,41115,35755,0,0.247883,37557.0,0.5922

In [89]:
df.loc[:, 'popDensity'] = df.loc[:,('SE_A00002_002')].values 
df = df.loc[: ,~df.columns.str.startswith('SE_A00001')] # Drop the columns from the table after processing
df.popDensity.describe()

count      2809.000000
mean       4191.867054
std       13734.303928
min           0.834195
25%          66.714400
50%         271.805600
75%        1844.599000
max      151475.800000
Name: popDensity, dtype: float64

In [90]:
df.drop(['SE_A00002_001','SE_A00002_003', ], axis = 1, inplace = True) #dropping Total population and population density

### White Majority
We check if white-only population is the majority in a zip code  
Primarily non-white areas might be experiencing higher levels of poverty.  
0 - if less than 50% of population in the zip code are white  
1 - if more than 50% of families in the zip code are non-white

In [91]:
df.drop(df.loc[df.loc[:,df.columns.str.startswith('SE_A03001_001')].isin([0]).any(axis = 1)].index, inplace = True) #dropping any null values
df.loc[:, 'whiteMajority'] = ((df.loc[:,'SE_A03001_002'].values) / (df.loc[:,'SE_A03001_001'].values)) # If the proportion of white alone population is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A03001')] # Drop the columns from the table after processing
df['whiteMajority'].describe()

count    2809.000000
mean        0.843544
std         0.195704
min         0.019053
25%         0.803446
50%         0.922897
75%         0.965156
max         1.000000
Name: whiteMajority, dtype: float64

## Education

### Highest degree attainment

In [92]:
df.loc[: ,df.columns.str.startswith('SE_B12001_')]

          SE_B12001_001  SE_B12001_002  SE_B12001_003  SE_B12001_004
zip_code
10001             21296           1538           4182          15576
10002             60747          19576          19073          22098
10003             37589           1360           5267          30962
10004              3624             13            112           3499
10005              6829              6            494           6329
...                 ...            ...            ...            ...
19971             12623            474           5611           6538
19973             17963           2481          12269           3213
19975              8079            719           4325           3035
19977             18937           1670          13003           4264
19979               510             38            389             83

[2809 rows x 4 columns]

In [93]:
df = df.loc[df['SE_B12001_001'] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows

In [94]:
df.loc[:, 'eduHsOrLessProportion'] = ((df.loc[:,('SE_B12001_002')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduHsProportion'] = ((df.loc[:,('SE_B12001_003')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduBachOrBetterProportion'] = ((df.loc[:,('SE_B12001_004')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df = df.loc[: ,~df.columns.str.startswith('SE_B12001_')] # Drop the columns from the table after processing
print(df.eduHsOrLessProportion.describe())
print(df.eduHsProportion.describe())
print(df.eduBachOrBetterProportion.describe())

count    2809.000000
mean        0.096295
std         0.063946
min         0.000000
25%         0.053577
50%         0.082806
75%         0.120284
max         0.528090
Name: eduHsOrLessProportion, dtype: float64
count    2809.000000
mean        0.611586
std         0.148978
min         0.030905
25%         0.536492
50%         0.645638
75%         0.716269
max         1.000000
Name: eduHsProportion, dtype: float64
count    2809.000000
mean        0.292119
std         0.167296
min         0.000000
25%         0.172269
50%         0.247191
75%         0.374343
max         0.965508
Name: eduBachOrBetterProportion, dtype: float64

### School Enrollment

In [95]:
df.loc[: ,df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing

          SE_A12004_001  SE_A12004_002  SE_A12004_003
zip_code
10001             26310           4375          21935
10002             75343          13024          62319
10003             53328          15093          38235
10004              4326            571           3755
10005              8292            839           7453
...                 ...            ...            ...
19971             13941           1181          12760
19973             24657           5322          19335
19975              9506           1223           8283
19977             25049           5658          19391
19979               631            162            469

[2809 rows x 3 columns]

In [96]:
df.loc[:, 'eduEnrollmentProportion'] = ((df.loc[:,('SE_A12004_002')].values) / (df.loc[:,('SE_A12004_001')].values)) # If the proportion of 3yo and over enrolled in school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing
df['eduEnrollmentProportion'].describe()

count    2809.000000
mean        0.217488
std         0.064958
min         0.000000
25%         0.182594
50%         0.214505
75%         0.248044
max         0.876300
Name: eduEnrollmentProportion, dtype: float64

### School Dropout rate

In [97]:
df = df.loc[df['SE_A12003_001'] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [98]:
df.loc[:, 'eduDropoutProportion'] = ((df.loc[:,('SE_A12003_002')].values) / (df.loc[:,('SE_A12003_001')].values)) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12003')] # Drop the columns from the table after processing
df.eduDropoutProportion.describe()

count    2762.000000
mean        0.055753
std         0.113325
min         0.000000
25%         0.000000
50%         0.011113
75%         0.058097
max         1.000000
Name: eduDropoutProportion, dtype: float64

# Employement

## Proportion of labor force employed

In [99]:
df.loc[: ,df.columns.str.startswith('SE_A17005')]

,SE_A17005_001,SE_A17005_002,SE_A17005_003,SE_A17005A_001,SE_A17005A_002,SE_A17005A_003,SE_A17005B_001,SE_A17005B_002,SE_A17005B_003
zip_code,,,,,,,,,
10001,17828,17098,730,9085,8672,413,8743,8426,317
10002,36431,33689,2742,18809,17437,1372,17622,16252,1370
10003,34455,32693,1762,17586,16925,661,16869,15768,1101
10004,3264,3211,53,1913,1912,1,1351,1299,52
10005,7237,7005,232,3586,3459,127,3651,3546,105
...,...,...,...,...,...,...,...,...,...
19971,6745,6455,290,3383,3295,88,3362,3160,202
19973,13265,12307,958,6751,6130,621,6514,6177,337
19975,4381,4085,296,2263,2096,167,2118,1989,129
19977,11616,11051,565,5213,4876,337,6403,6175,228
19979,411,397,14,243,243,0,168,154,14

In [100]:
df = df.loc[df.loc[:,('SE_A17005_001')] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [101]:
# df.loc[:, 'employedMajority'] = np.where((df.loc[:,('Civilian Population in Labor Force 16 Years and Over: Employed' ,'SE_A17005_002')].values) / (df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')].values) > 0.5,1,0) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df.loc[:, 'employedProportion'] = ((df.loc[:,('SE_A17005_002')].values) / (df.loc[:,('SE_A17005_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17005')] # Drop the columns from the table after processing
df.employedProportion.describe()

count    2762.000000
mean        0.945659
std         0.033943
min         0.672566
25%         0.931652
50%         0.951351
75%         0.967480
max         1.000000
Name: employedProportion, dtype: float64

### Employment by sector

In [102]:
df.loc[: ,df.columns.str.startswith('SE_A17009')]

,SE_A17009_001,SE_A17009_002,SE_A17009_003,SE_A17009_004,SE_A17009_005,SE_A17009_006
zip_code,,,,,,
10001,17098,12421,1028,2287,1362,0
10002,33689,23553,3459,3752,2776,149
10003,32693,22385,1790,4263,4160,95
10004,3211,2115,255,632,173,36
10005,7005,5713,482,408,402,0
...,...,...,...,...,...,...
19971,6455,3583,850,1222,800,0
19973,12307,8098,1598,1510,1046,55
19975,4085,2645,692,430,310,8
19977,11051,6900,2663,741,747,0
19979,397,221,133,33,10,0

In [103]:
df.loc[:, 'employedPvtSecProportion'] = ((df.loc[:,('SE_A17009_002')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPubSecProportion'] = ((df.loc[:,('SE_A17009_003')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedSelfEmpProportion'] = ((df.loc[:,('SE_A17009_004')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPvtNonProProportion'] = ((df.loc[:,('SE_A17009_005')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedUnpaidFamProportion'] = ((df.loc[:,('SE_A17009_006')].values) / (df.loc[:,('SE_A17009_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17009')] # Drop the columns from the table after processing

In [104]:
df.loc[:, 'employedUnpaidFamProportion']

zip_code
10001    0.000000
10002    0.004423
10003    0.002906
10004    0.011211
10005    0.000000
           ...
19971    0.000000
19973    0.004469
19975    0.001958
19977    0.000000
19979    0.000000
Name: employedUnpaidFamProportion, Length: 2762, dtype: float64

## Health

In [105]:
df.loc[: ,df.columns.str.startswith('SE_A20001')]

,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005
zip_code,,,,,
10001,26966,800,26166,7241,21172
10002,76361,4255,72106,41115,35755
10003,54273,1636,52637,9993,46799
10004,4795,51,4744,243,4607
10005,8637,83,8554,469,8153
...,...,...,...,...,...
19971,14105,353,13752,7024,10808
19973,25368,1844,23524,11688,16004
19975,9583,719,8864,4775,6751
19977,22637,1927,20710,8743,15621
19979,641,19,622,163,542

In [106]:
df = df.loc[df.loc[:,('SE_A20001_001')] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows
df.loc[:, 'insuredProportion'] = ((df.loc[:,('SE_A20001_003')].values) / (df.loc[:,('SE_A20001_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A20001')] # Drop the columns from the table after processing
df.insuredProportion.describe()

count    2762.000000
mean        0.944078
std         0.054047
min         0.393746
25%         0.933320
50%         0.956894
75%         0.973802
max         1.000000
Name: insuredProportion, dtype: float64

In [107]:
df.shape

(2762, 24)

# Housing

### Proportion of renters spending more than 30% of income on rent

Here, we are only concerned with Renter-Occupied Housing Units who are paying the rent which is more than 30% of their income

In [108]:
df.loc[:, df.columns.str.startswith('SE_B18002')]

          SE_B18002_001  SE_B18002_002  SE_B18002_003
zip_code
10001             10493           2366           1708
10002             28887           7294           7312
10003             15936           3197           3370
10004              1249            215            188
10005              3987            877            512
...                 ...            ...            ...
19971               942            182            420
19973              2365            549            636
19975               632            248             73
19977              1677            409            409
19979                51              0              0

[2762 rows x 3 columns]

In [109]:
df = df.loc[df.loc[:, ('SE_B18002_001')] != 0] # Remove observations with 0 to avoid error while dividing
df.loc[:, 'housingRentMoreThan30pcProportion'] = ((df.loc[:,('SE_B18002_002')].values + df.loc[:,('SE_B18002_003')].values ) / (df.loc[:,('SE_B18002_001')].values))

In [110]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_B18002_001,SE_B18002_002,SE_B18002_003,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,43227.06,467800.0,10493,2366,1708,2269.0,0,0.122854,94177.0,0.5524,...,0.166287,0.000000,0.959053,0.726459,0.060124,0.133758,0.079658,0.000000,0.970333,0.388259
10002,93406.05,719500.0,28887,7294,7312,1047.0,0,0.247883,37557.0,0.5922,...,0.172863,0.015896,0.924734,0.699130,0.102674,0.111372,0.082401,0.004423,0.944278,0.505625
10003,95234.96,972900.0,15936,3197,3370,2478.0,0,0.113830,106585.0,0.5532,...,0.283022,0.002343,0.948861,0.684703,0.054752,0.130395,0.127244,0.002906,0.969856,0.412086
10004,10525.12,1722600.0,1249,215,188,3501.0,0,0.029659,147878.0,0.4566,...,0.131993,0.000000,0.983762,0.658673,0.079415,0.196823,0.053877,0.011211,0.989364,0.322658
10005,118529.50,1237900.0,3987,877,512,3501.0,0,0.039515,128970.0,0.3579,...,0.101182,0.000000,0.967943,0.815560,0.068808,0.058244,0.057388,0.000000,0.990390,0.348382

In [116]:
df = df.loc[: ,~df.columns.str.startswith('SE_B18002')] # Drop the columns from the table after processing

In [117]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,43227.06,467800.0,2269.0,0,0.122854,94177.0,0.5524,43227.06,0.629051,0.072220,...,0.166287,0.000000,0.959053,0.726459,0.060124,0.133758,0.079658,0.000000,0.970333,0.388259
10002,93406.05,719500.0,1047.0,0,0.247883,37557.0,0.5922,93406.05,0.321416,0.322255,...,0.172863,0.015896,0.924734,0.699130,0.102674,0.111372,0.082401,0.004423,0.944278,0.505625
10003,95234.96,972900.0,2478.0,0,0.113830,106585.0,0.5532,95234.96,0.706761,0.036181,...,0.283022,0.002343,0.948861,0.684703,0.054752,0.130395,0.127244,0.002906,0.969856,0.412086
10004,10525.12,1722600.0,3501.0,0,0.029659,147878.0,0.4566,10525.12,0.575182,0.003587,...,0.131993,0.000000,0.983762,0.658673,0.079415,0.196823,0.053877,0.011211,0.989364,0.322658
10005,118529.50,1237900.0,3501.0,0,0.039515,128970.0,0.3579,118529.50,0.752113,0.000879,...,0.101182,0.000000,0.967943,0.815560,0.068808,0.058244,0.057388,0.000000,0.990390,0.348382

In [118]:
df.shape

(2762, 22)

### Housing Units by Monthly Housing Costs

In [119]:
df.loc[:, df.columns.str.startswith('SE_A10036')]

          SE_A10036_001
zip_code
10001          467800.0
10002          719500.0
10003          972900.0
10004         1722600.0
10005         1237900.0
...                 ...
19971          435100.0
19973          211500.0
19975          356000.0
19977          247200.0
19979          205400.0

[2762 rows x 1 columns]

In [120]:
df.loc[:, 'housingMedianValue'] = ((df.loc[:,('SE_A10036_001')].values))

C:\Users\ARU PC\AppData\Local\Temp\ipykernel_8744\3377533607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'housingMedianValue'] = ((df.loc[:,('SE_A10036_001')].values))

In [121]:
df = df.loc[: ,~df.columns.str.startswith('SE_A10036_')] # Drop the columns from the table after processing

In [122]:
df.head()

,SE_A00002_002,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,...,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,43227.06,2269.0,0,0.122854,94177.0,0.5524,43227.06,0.629051,0.072220,0.196375,...,0.000000,0.959053,0.726459,0.060124,0.133758,0.079658,0.000000,0.970333,0.388259,467800.0
10002,93406.05,1047.0,0,0.247883,37557.0,0.5922,93406.05,0.321416,0.322255,0.313974,...,0.015896,0.924734,0.699130,0.102674,0.111372,0.082401,0.004423,0.944278,0.505625,719500.0
10003,95234.96,2478.0,0,0.113830,106585.0,0.5532,95234.96,0.706761,0.036181,0.140121,...,0.002343,0.948861,0.684703,0.054752,0.130395,0.127244,0.002906,0.969856,0.412086,972900.0
10004,10525.12,3501.0,0,0.029659,147878.0,0.4566,10525.12,0.575182,0.003587,0.030905,...,0.000000,0.983762,0.658673,0.079415,0.196823,0.053877,0.011211,0.989364,0.322658,1722600.0
10005,118529.50,3501.0,0,0.039515,128970.0,0.3579,118529.50,0.752113,0.000879,0.072339,...,0.000000,0.967943,0.815560,0.068808,0.058244,0.057388,0.000000,0.990390,0.348382,1237900.0

### Median Gross Rent

In [123]:
df.loc[:, df.columns.str.startswith('SE_A18009')]

          SE_A18009_001
zip_code
10001            2269.0
10002            1047.0
10003            2478.0
10004            3501.0
10005            3501.0
...                 ...
19971            1389.0
19973             918.0
19975            1123.0
19977            1310.0
19979            1276.0

[2762 rows x 1 columns]

In [124]:
df.loc[:, 'housingMedianGrossRent'] = ((df.loc[:,('SE_A18009_001')].values))

In [125]:
df = df.loc[: ,~df.columns.str.startswith('SE_A18009_')] # Drop the columns from the table after processing

In [126]:
df.shape

(2762, 22)

In [127]:
df.head()

,SE_A00002_002,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,43227.06,0,0.122854,94177.0,0.5524,43227.06,0.629051,0.072220,0.196375,0.731405,...,0.959053,0.726459,0.060124,0.133758,0.079658,0.000000,0.970333,0.388259,467800.0,2269.0
10002,93406.05,0,0.247883,37557.0,0.5922,93406.05,0.321416,0.322255,0.313974,0.363771,...,0.924734,0.699130,0.102674,0.111372,0.082401,0.004423,0.944278,0.505625,719500.0,1047.0
10003,95234.96,0,0.113830,106585.0,0.5532,95234.96,0.706761,0.036181,0.140121,0.823698,...,0.948861,0.684703,0.054752,0.130395,0.127244,0.002906,0.969856,0.412086,972900.0,2478.0
10004,10525.12,0,0.029659,147878.0,0.4566,10525.12,0.575182,0.003587,0.030905,0.965508,...,0.983762,0.658673,0.079415,0.196823,0.053877,0.011211,0.989364,0.322658,1722600.0,3501.0
10005,118529.50,0,0.039515,128970.0,0.3579,118529.50,0.752113,0.000879,0.072339,0.926783,...,0.967943,0.815560,0.068808,0.058244,0.057388,0.000000,0.990390,0.348382,1237900.0,3501.0

In [128]:
df.drop('SE_A00002_002',axis=1,inplace=True)

In [129]:
df.head()

,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,eduEnrollmentProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,0,0.122854,94177.0,0.5524,43227.06,0.629051,0.072220,0.196375,0.731405,0.166287,...,0.959053,0.726459,0.060124,0.133758,0.079658,0.000000,0.970333,0.388259,467800.0,2269.0
10002,0,0.247883,37557.0,0.5922,93406.05,0.321416,0.322255,0.313974,0.363771,0.172863,...,0.924734,0.699130,0.102674,0.111372,0.082401,0.004423,0.944278,0.505625,719500.0,1047.0
10003,0,0.113830,106585.0,0.5532,95234.96,0.706761,0.036181,0.140121,0.823698,0.283022,...,0.948861,0.684703,0.054752,0.130395,0.127244,0.002906,0.969856,0.412086,972900.0,2478.0
10004,0,0.029659,147878.0,0.4566,10525.12,0.575182,0.003587,0.030905,0.965508,0.131993,...,0.983762,0.658673,0.079415,0.196823,0.053877,0.011211,0.989364,0.322658,1722600.0,3501.0
10005,0,0.039515,128970.0,0.3579,118529.50,0.752113,0.000879,0.072339,0.926783,0.101182,...,0.967943,0.815560,0.068808,0.058244,0.057388,0.000000,0.990390,0.348382,1237900.0,3501.0

In [130]:
df.to_csv('preprocessed_2021.csv')