# Imports

In [1]:
#pip install pgeocode

In [1]:
import numpy as np
import pandas as pd
import pgeocode
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# 2018

# Dataset
### CSV file needs some trimming before using it here. Columns not used and empty columns are removed manually

In [2]:
data18= pd.read_csv('C:\\Users\\ARU PC\\Documents\\GitHub\\DataTrimmed\\DataTrimmed\\2018_trimmed.csv')

C:\Users\ARU PC\AppData\Local\Temp\ipykernel_6200\2409008451.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139) have mixed types. Specify dtype option on import or set low_memory=False.
  data18= pd.read_csv('C:\\Users\\ARU PC\\Documents\\GitHub\\DataTrimmed\\DataTrimmed\\2018_trimmed.csv')

In [3]:
data18.head()

,Name of Area,Total Population,Total Population.1,Population Density (Per Sq. Mile),Area (Land),Area Total:,Area Total: Area (Land),Area Total: Area (Water),Total Population:,Total Population: Male,...,Own Children under 18 Years,Own Children under 18 Years: Children Living with Single Parents,Households,Households: 1-Person Household,Households: 2-Person Household,Households: 3-Person Household,Households: 4-Person Household,Households: 5-Person Household,Households: 6-Person Household,Households: 7-or-More Person Household
0,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17621,17621,1531.671,11.50443168,12.32182,11.50443,0.8173907,17621,8292,...,2770,633,7481,2794,2568,969,752,262,82,54
2,1002,30066,30066,546.0086,55.06506439,56.71828,55.06506,1.653212,30066,14597,...,3445,1181,9877,2962,3077,1528,1639,481,128,62
3,1003,11238,11238,15798.16,0.711348856,0.7162863,0.7113488,0.004937475,11238,5769,...,0,0,36,22,10,0,4,0,0,0
4,1005,4991,4991,112.76,44.26213249,44.51944,44.26213,0.2573078,4991,2468,...,777,140,1798,471,607,324,201,124,35,36

# Working dataset copy

In [96]:
df = data18.copy()

In [97]:
df.head()

,Name of Area,Total Population,Total Population.1,Population Density (Per Sq. Mile),Area (Land),Area Total:,Area Total: Area (Land),Area Total: Area (Water),Total Population:,Total Population: Male,...,Own Children under 18 Years,Own Children under 18 Years: Children Living with Single Parents,Households,Households: 1-Person Household,Households: 2-Person Household,Households: 3-Person Household,Households: 4-Person Household,Households: 5-Person Household,Households: 6-Person Household,Households: 7-or-More Person Household
0,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17621,17621,1531.671,11.50443168,12.32182,11.50443,0.8173907,17621,8292,...,2770,633,7481,2794,2568,969,752,262,82,54
2,1002,30066,30066,546.0086,55.06506439,56.71828,55.06506,1.653212,30066,14597,...,3445,1181,9877,2962,3077,1528,1639,481,128,62
3,1003,11238,11238,15798.16,0.711348856,0.7162863,0.7113488,0.004937475,11238,5769,...,0,0,36,22,10,0,4,0,0,0
4,1005,4991,4991,112.76,44.26213249,44.51944,44.26213,0.2573078,4991,2468,...,777,140,1798,471,607,324,201,124,35,36

# Preprocess Data

## Extract zip codes

In [98]:
#df.insert(0, 'zip_code', df[('Area Name', 'Geo_NAME')].astype(str).str[4:])
#df.drop('Area Name', level = 0, axis =1, inplace=True)

In [99]:
df.columns = df.iloc[0]

In [100]:
df = df.drop(df.index[0])

In [101]:
df.head()

,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17621,17621,1531.671,11.50443168,12.32182,11.50443,0.8173907,17621,8292,...,2770,633,7481,2794,2568,969,752,262,82,54
2,1002,30066,30066,546.0086,55.06506439,56.71828,55.06506,1.653212,30066,14597,...,3445,1181,9877,2962,3077,1528,1639,481,128,62
3,1003,11238,11238,15798.16,0.711348856,0.7162863,0.7113488,0.004937475,11238,5769,...,0,0,36,22,10,0,4,0,0,0
4,1005,4991,4991,112.76,44.26213249,44.51944,44.26213,0.2573078,4991,2468,...,777,140,1798,471,607,324,201,124,35,36
5,1007,14967,14967,284.5381,52.60103444,55.28222,52.60104,2.681184,14967,7510,...,3056,516,5475,990,2076,850,1109,352,98,0

In [102]:
df.rename(columns={'Geo_NAME': 'zip_code'}, inplace=True)

In [168]:
df.head()

,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,eduEnrollmentProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,0,0.131324,84765.0,0.5728,37306.590,0.629122,0.082458,0.237364,0.680178,0.178033,...,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135,343400.0,2065.0
10002,1,0.263542,32694.0,0.5838,85369.800,0.322270,0.340399,0.320014,0.339588,0.176612,...,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801,665200.0,963.0
10003,0,0.087159,92781.0,0.5571,94859.580,0.759135,0.038864,0.159300,0.801836,0.278889,...,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964,1001200.0,2298.0
10004,0,0.024408,122165.0,0.4393,5622.904,0.628137,0.010993,0.084806,0.904201,0.129787,...,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523,1640600.0,3235.0
10005,0,0.108289,106702.0,0.4414,121496.400,0.734232,0.007744,0.107804,0.884452,0.176844,...,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074,1415400.0,3226.0

In [104]:
df = df.loc[pd.to_numeric(df.zip_code).between(10000,20000)] # Filtering rows to limit the data we work on. Selecting group of states starting with 1

In [105]:
df.set_index('zip_code', inplace=True)

C:\Users\ARU PC\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

In [106]:
df.shape

(3658, 2139)

In [107]:
df.head()

,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,SE_A02001_003,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924,22924,37306.59,0.614476,0.614476,0.614476,0.0,22924,11671,11253,...,1805,482,12431,6710,3897,1072,429,307,16,0
10002,74993,74993,85369.8,0.878449,0.878449,0.878449,0.0,74993,36230,38763,...,7749,3719,33540,14319,10041,4908,2796,1162,95,219
10003,54682,54682,94859.58,0.576452,0.576452,0.576452,0.0,54682,27503,27179,...,3553,659,26124,14377,8265,1999,1367,109,7,0
10004,3028,3028,5622.904,0.538512,0.54241,0.538512,0.003898,3028,1267,1761,...,345,55,1659,794,524,238,95,8,0,0
10005,8831,8831,121496.4,0.072685,0.072685,0.072685,0.0,8831,4003,4828,...,1107,170,4374,1674,1816,557,314,13,0,0

### Extracting only the tables required for the analysis from the dataset

In [108]:
table_names = ['SE_B13004', 'SE_B18002', 'SE_A03001', 'SE_A13007', 'SE_A14028','SE_A14024_', 'SE_B12001', 'SE_A12003', 'SE_A12004', 'SE_A17005', 'SE_A17009', 'SE_A20001', 'SE_A00002','SE_A10036','SE_A18009']
matching_columns = [col for col in df.columns if col.startswith(tuple(table_names))]
df = df.loc[:, df.columns.isin(matching_columns)]
df = df.astype(float)

In [109]:
# Check for missing values
df = df.dropna() # Drop rows with missing values

In [110]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924.0,37306.590,0.614476,22924.0,14422.0,1413.0,36.0,5774.0,20.0,661.0,...,2653.0,924.0,673.0,251.0,1729.0,17549.0,13998.0,13617.0,381.0,3551.0
10002,74993.0,85369.800,0.878449,74993.0,24168.0,6283.0,680.0,31089.0,24.0,9841.0,...,17349.0,4624.0,3518.0,1106.0,12725.0,48481.0,31366.0,29945.0,1421.0,17115.0
10003,54682.0,94859.580,0.576452,54682.0,41511.0,3178.0,88.0,7373.0,55.0,1215.0,...,3632.0,1221.0,735.0,486.0,2411.0,38039.0,30378.0,29536.0,842.0,7661.0
10004,3028.0,5622.904,0.538512,3028.0,1902.0,51.0,0.0,922.0,17.0,40.0,...,66.0,9.0,4.0,5.0,57.0,2638.0,2164.0,2072.0,92.0,474.0
10005,8831.0,121496.400,0.072685,8831.0,6484.0,221.0,0.0,1497.0,0.0,206.0,...,840.0,561.0,515.0,46.0,279.0,6917.0,6420.0,6247.0,173.0,497.0

In [111]:
df.shape

(2925, 80)

## Processing dataset column wise

### Processing Y variable
The number of families for each zip code are available for poverty ratios less than 1, between 1 and 2 and more than 2.
All the families with ratio under 2 are considered to be 'poor' or 'struggling' and over 2 are considered to be ok.  
  
Based on this information, we convert this information into one column which has values 0 or 1  
0 - if more than 50% of families in the zip code have a ratio over 2 ('ok')  
1 - if 50% or more of families in the zip code are having ratio under 2 ('struggling')

In [113]:
df.loc[:, df.columns.str.startswith('SE_B13004')]

,SE_B13004_001,SE_B13004_002,SE_B13004_003,SE_B13004_004,SE_B13004_005
zip_code,,,,,
10001,21955.0,2912.0,1977.0,4889.0,17066.0
10002,74356.0,20565.0,17745.0,38310.0,36046.0
10003,45093.0,3812.0,3049.0,6861.0,38232.0
10004,3028.0,66.0,92.0,158.0,2870.0
10005,8831.0,840.0,263.0,1103.0,7728.0
...,...,...,...,...,...
19971,13192.0,778.0,1280.0,2058.0,11134.0
19973,24770.0,3983.0,4629.0,8612.0,16158.0
19975,9317.0,662.0,1702.0,2364.0,6953.0
19977,22583.0,1946.0,4296.0,6242.0,16341.0
19979,914.0,99.0,241.0,340.0,574.0

In [114]:
df['underPoverty'] = np.where(df[('SE_B13004_005')].div(df[('SE_B13004_001')]) < 0.5,1,0) 
df = df.loc[: ,~df.columns.str.startswith('SE_B13004')] # Drop the columns from the table after processing

In [115]:
len(df.loc[df['underPoverty'] == 1]) # There are 178 zip codes in region 1 which have more than 50% of families that are poor or struggling

178

In [117]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011,underPoverty
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924.0,37306.590,0.614476,22924.0,14422.0,1413.0,36.0,5774.0,20.0,661.0,...,924.0,673.0,251.0,1729.0,17549.0,13998.0,13617.0,381.0,3551.0,0
10002,74993.0,85369.800,0.878449,74993.0,24168.0,6283.0,680.0,31089.0,24.0,9841.0,...,4624.0,3518.0,1106.0,12725.0,48481.0,31366.0,29945.0,1421.0,17115.0,1
10003,54682.0,94859.580,0.576452,54682.0,41511.0,3178.0,88.0,7373.0,55.0,1215.0,...,1221.0,735.0,486.0,2411.0,38039.0,30378.0,29536.0,842.0,7661.0,0
10004,3028.0,5622.904,0.538512,3028.0,1902.0,51.0,0.0,922.0,17.0,40.0,...,9.0,4.0,5.0,57.0,2638.0,2164.0,2072.0,92.0,474.0,0
10005,8831.0,121496.400,0.072685,8831.0,6484.0,221.0,0.0,1497.0,0.0,206.0,...,561.0,515.0,46.0,279.0,6917.0,6420.0,6247.0,173.0,497.0,0

# Income

### Below Poverty line
Poverty Status in the Past 12 Months based on income level. Proportion of population having income below poverty level

In [118]:
df.loc[:, df.columns.str.startswith('SE_A13007')]

,SE_A13007_001,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,
10001,20202.0,2653.0,924.0,673.0,251.0,1729.0,17549.0,13998.0,13617.0,381.0,3551.0
10002,65830.0,17349.0,4624.0,3518.0,1106.0,12725.0,48481.0,31366.0,29945.0,1421.0,17115.0
10003,41671.0,3632.0,1221.0,735.0,486.0,2411.0,38039.0,30378.0,29536.0,842.0,7661.0
10004,2704.0,66.0,9.0,4.0,5.0,57.0,2638.0,2164.0,2072.0,92.0,474.0
10005,7757.0,840.0,561.0,515.0,46.0,279.0,6917.0,6420.0,6247.0,173.0,497.0
...,...,...,...,...,...,...,...,...,...,...,...
19971,12243.0,696.0,234.0,210.0,24.0,462.0,11547.0,6412.0,6200.0,212.0,5135.0
19973,19787.0,2613.0,1060.0,783.0,277.0,1553.0,17174.0,10967.0,10560.0,407.0,6207.0
19975,8123.0,602.0,235.0,202.0,33.0,367.0,7521.0,4019.0,3890.0,129.0,3502.0
19977,17913.0,1499.0,445.0,265.0,180.0,1054.0,16414.0,11290.0,10875.0,415.0,5124.0
19979,717.0,46.0,30.0,30.0,0.0,16.0,671.0,443.0,431.0,12.0,228.0

In [119]:
df['incomeBelowPovertyLevelProportion'] = ((df[('SE_A13007_002')].values) /(df[('SE_A13007_001')]))
df.incomeBelowPovertyLevelProportion.describe()
df = df.loc[: ,~df.columns.str.startswith('SE_A13007')] # Drop the columns from the table after processing

## Per Capita

In [120]:
df.loc[:, 'incomePerCapita'] = df.loc[: ,df.columns.str.startswith('SE_A14024')].values
df = df.loc[: ,~df.columns.str.startswith('SE_A14024')] # Drop the columns from the table after processing
df.incomePerCapita.describe()

count      2925.000000
mean      33063.815726
std       14669.568544
min        4363.000000
25%       25091.000000
50%       29199.000000
75%       36186.000000
max      147547.000000
Name: incomePerCapita, dtype: float64

## GiniIndex

In [121]:
df.loc[:, 'incomeGiniIndex'] = df.loc[: ,df.columns.str.startswith('SE_A14028_001')]

In [122]:
df = df.loc[: ,~df.columns.str.startswith('SE_A14028')] # Drop the columns from the table after processing

In [123]:
df.incomeGiniIndex.describe()

count    2925.000000
mean        0.419488
std         0.057963
min         0.146900
25%         0.383300
50%         0.415500
75%         0.450600
max         0.744000
Name: incomeGiniIndex, dtype: float64

In [124]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924.0,37306.590,0.614476,22924.0,14422.0,1413.0,36.0,5774.0,20.0,661.0,...,2065.0,22924.0,988.0,21936.0,5827.0,18113.0,0,0.131324,84765.0,0.5728
10002,74993.0,85369.800,0.878449,74993.0,24168.0,6283.0,680.0,31089.0,24.0,9841.0,...,963.0,74755.0,4428.0,70327.0,39724.0,34989.0,1,0.263542,32694.0,0.5838
10003,54682.0,94859.580,0.576452,54682.0,41511.0,3178.0,88.0,7373.0,55.0,1215.0,...,2298.0,54550.0,2131.0,52419.0,9445.0,46911.0,0,0.087159,92781.0,0.5571
10004,3028.0,5622.904,0.538512,3028.0,1902.0,51.0,0.0,922.0,17.0,40.0,...,3235.0,3028.0,149.0,2879.0,232.0,2775.0,0,0.024408,122165.0,0.4393
10005,8831.0,121496.400,0.072685,8831.0,6484.0,221.0,0.0,1497.0,0.0,206.0,...,3226.0,8831.0,237.0,8594.0,489.0,8336.0,0,0.108289,106702.0,0.4414

In [125]:
df.shape

(2925, 66)

In [126]:
df.dropna()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924.0,37306.5900,0.614476,22924.0,14422.0,1413.0,36.0,5774.0,20.0,661.0,...,2065.0,22924.0,988.0,21936.0,5827.0,18113.0,0,0.131324,84765.0,0.5728
10002,74993.0,85369.8000,0.878449,74993.0,24168.0,6283.0,680.0,31089.0,24.0,9841.0,...,963.0,74755.0,4428.0,70327.0,39724.0,34989.0,1,0.263542,32694.0,0.5838
10003,54682.0,94859.5800,0.576452,54682.0,41511.0,3178.0,88.0,7373.0,55.0,1215.0,...,2298.0,54550.0,2131.0,52419.0,9445.0,46911.0,0,0.087159,92781.0,0.5571
10004,3028.0,5622.9040,0.538512,3028.0,1902.0,51.0,0.0,922.0,17.0,40.0,...,3235.0,3028.0,149.0,2879.0,232.0,2775.0,0,0.024408,122165.0,0.4393
10005,8831.0,121496.4000,0.072685,8831.0,6484.0,221.0,0.0,1497.0,0.0,206.0,...,3226.0,8831.0,237.0,8594.0,489.0,8336.0,0,0.108289,106702.0,0.4414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19971,13216.0,798.5997,16.548966,13216.0,12409.0,491.0,24.0,203.0,0.0,19.0,...,1260.0,13183.0,493.0,12690.0,5751.0,10714.0,0,0.056849,63998.0,0.5319
19973,25134.0,319.5538,78.653412,25134.0,17557.0,5994.0,11.0,279.0,0.0,378.0,...,899.0,24848.0,1801.0,23047.0,11436.0,15702.0,0,0.132056,27962.0,0.4363
19975,9341.0,343.2110,27.216497,9341.0,8136.0,596.0,72.0,150.0,0.0,126.0,...,1076.0,9316.0,719.0,8597.0,4523.0,6584.0,0,0.074111,38137.0,0.4738
19977,25568.0,307.4455,83.162714,25568.0,17520.0,6778.0,19.0,190.0,4.0,130.0,...,1099.0,22551.0,1755.0,20796.0,8291.0,16752.0,0,0.083682,29022.0,0.4336
19979,915.0,451.0371,2.028658,915.0,773.0,106.0,0.0,14.0,0.0,0.0,...,956.0,915.0,13.0,902.0,365.0,687.0,0,0.064156,26119.0,0.3048

## Race, Population

In [128]:
df.head(2)

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,22924.0,37306.59,0.614476,22924.0,14422.0,1413.0,36.0,5774.0,20.0,661.0,...,2065.0,22924.0,988.0,21936.0,5827.0,18113.0,0,0.131324,84765.0,0.5728
10002,74993.0,85369.80,0.878449,74993.0,24168.0,6283.0,680.0,31089.0,24.0,9841.0,...,963.0,74755.0,4428.0,70327.0,39724.0,34989.0,1,0.263542,32694.0,0.5838

In [129]:
df.loc[:, 'popDensity'] = df.loc[:,('SE_A00002_002')].values 
df = df.loc[: ,~df.columns.str.startswith('SE_A00001')] # Drop the columns from the table after processing
df.popDensity.describe()

count      2925.000000
mean       3954.356660
std       13265.622265
min           0.937378
25%          66.704530
50%         260.716900
75%        1712.797000
max      152562.200000
Name: popDensity, dtype: float64

In [130]:
df.drop(['SE_A00002_001','SE_A00002_003', ], axis = 1, inplace = True) #dropping Total population and population density

### White Majority
We check if white-only population is the majority in a zip code  
Primarily non-white areas might be experiencing higher levels of poverty.  
0 - if less than 50% of population in the zip code are white  
1 - if more than 50% of families in the zip code are non-white

In [131]:
df.drop(df.loc[df.loc[:,df.columns.str.startswith('SE_A03001_001')].isin([0]).any(axis = 1)].index, inplace = True) #dropping any null values
df.loc[:, 'whiteMajority'] = ((df.loc[:,'SE_A03001_002'].values) / (df.loc[:,'SE_A03001_001'].values)) # If the proportion of white alone population is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A03001')] # Drop the columns from the table after processing
df['whiteMajority'].describe()

count    2925.000000
mean        0.867203
std         0.189181
min         0.017646
25%         0.845716
50%         0.944849
75%         0.977948
max         1.000000
Name: whiteMajority, dtype: float64

## Education

### Highest degree attainment

In [132]:
df.loc[: ,df.columns.str.startswith('SE_B12001_')]

0         SE_B12001_001  SE_B12001_002  SE_B12001_003  SE_B12001_004
zip_code
10001           17985.0         1483.0         4269.0        12233.0
10002           59160.0        20138.0        18932.0        20090.0
10003           38236.0         1486.0         6091.0        30659.0
10004            2547.0           28.0          216.0         2303.0
10005            6586.0           51.0          710.0         5825.0
...                 ...            ...            ...            ...
19971           11473.0          499.0         5068.0         5906.0
19973           17891.0         3097.0        11566.0         3228.0
19975            7496.0          904.0         4462.0         2130.0
19977           18205.0         2169.0        11893.0         4143.0
19979             675.0           65.0          472.0          138.0

[2925 rows x 4 columns]

In [133]:
df = df.loc[df['SE_B12001_001'] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows

In [134]:
df.loc[:, 'eduHsOrLessProportion'] = ((df.loc[:,('SE_B12001_002')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduHsProportion'] = ((df.loc[:,('SE_B12001_003')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduBachOrBetterProportion'] = ((df.loc[:,('SE_B12001_004')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df = df.loc[: ,~df.columns.str.startswith('SE_B12001_')] # Drop the columns from the table after processing
print(df.eduHsOrLessProportion.describe())
print(df.eduHsProportion.describe())
print(df.eduBachOrBetterProportion.describe())

count    2925.000000
mean        0.104910
std         0.065064
min         0.000000
25%         0.061111
50%         0.092999
75%         0.131848
max         0.631382
Name: eduHsOrLessProportion, dtype: float64
count    2925.000000
mean        0.623932
std         0.141487
min         0.066174
25%         0.553041
50%         0.660644
75%         0.722222
max         0.957576
Name: eduHsProportion, dtype: float64
count    2925.000000
mean        0.271158
std         0.161495
min         0.000000
25%         0.154940
50%         0.226371
75%         0.347914
max         0.927911
Name: eduBachOrBetterProportion, dtype: float64

### School Enrollment

In [135]:
df.loc[: ,df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing

0         SE_A12004_001  SE_A12004_002  SE_A12004_003
zip_code
10001           22552.0         4015.0        18537.0
10002           73251.0        12937.0        60314.0
10003           53394.0        14891.0        38503.0
10004            2951.0          383.0         2568.0
10005            8516.0         1506.0         7010.0
...                 ...            ...            ...
19971           13126.0         1379.0        11747.0
19973           24345.0         5315.0        19030.0
19975            9033.0         1192.0         7841.0
19977           24931.0         6096.0        18835.0
19979             895.0          226.0          669.0

[2925 rows x 3 columns]

In [136]:
df.loc[:, 'eduEnrollmentProportion'] = ((df.loc[:,('SE_A12004_002')].values) / (df.loc[:,('SE_A12004_001')].values)) # If the proportion of 3yo and over enrolled in school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing
df['eduEnrollmentProportion'].describe()

count    2925.000000
mean        0.222873
std         0.063604
min         0.000000
25%         0.189935
50%         0.219546
75%         0.251201
max         0.918690
Name: eduEnrollmentProportion, dtype: float64

### School Dropout rate

In [137]:
df = df.loc[df['SE_A12003_001'] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [138]:
df.loc[:, 'eduDropoutProportion'] = ((df.loc[:,('SE_A12003_002')].values) / (df.loc[:,('SE_A12003_001')].values)) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12003')] # Drop the columns from the table after processing
df.eduDropoutProportion.describe()

count    2882.000000
mean        0.050454
std         0.098145
min         0.000000
25%         0.000000
50%         0.012549
75%         0.058224
max         1.000000
Name: eduDropoutProportion, dtype: float64

# Employement

## Proportion of labor force employed

In [139]:
df.loc[: ,df.columns.str.startswith('SE_A17005')]

,SE_A17005_001,SE_A17005_002,SE_A17005_003,SE_A17005A_001,SE_A17005A_002,SE_A17005A_003,SE_A17005B_001,SE_A17005B_002,SE_A17005B_003
zip_code,,,,,,,,,
10001,15044.0,14360.0,684.0,8656.0,8333.0,323.0,6388.0,6027.0,361.0
10002,36059.0,33532.0,2527.0,19159.0,17581.0,1578.0,16900.0,15951.0,949.0
10003,34340.0,32394.0,1946.0,17633.0,16856.0,777.0,16707.0,15538.0,1169.0
10004,2173.0,2076.0,97.0,980.0,932.0,48.0,1193.0,1144.0,49.0
10005,6981.0,6762.0,219.0,3339.0,3339.0,0.0,3642.0,3423.0,219.0
...,...,...,...,...,...,...,...,...,...
19971,6646.0,6410.0,236.0,3450.0,3273.0,177.0,3196.0,3137.0,59.0
19973,12027.0,11343.0,684.0,6336.0,5922.0,414.0,5691.0,5421.0,270.0
19975,4254.0,4092.0,162.0,2372.0,2259.0,113.0,1882.0,1833.0,49.0
19977,11735.0,11140.0,595.0,5973.0,5670.0,303.0,5762.0,5470.0,292.0
19979,473.0,461.0,12.0,273.0,265.0,8.0,200.0,196.0,4.0

In [140]:
df = df.loc[df.loc[:,('SE_A17005_001')] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [141]:
# df.loc[:, 'employedMajority'] = np.where((df.loc[:,('Civilian Population in Labor Force 16 Years and Over: Employed' ,'SE_A17005_002')].values) / (df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')].values) > 0.5,1,0) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df.loc[:, 'employedProportion'] = ((df.loc[:,('SE_A17005_002')].values) / (df.loc[:,('SE_A17005_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17005')] # Drop the columns from the table after processing
df.employedProportion.describe()

count    2882.000000
mean        0.943871
std         0.032340
min         0.724719
25%         0.930123
50%         0.949959
75%         0.964779
max         1.000000
Name: employedProportion, dtype: float64

### Employment by sector

In [142]:
df.loc[: ,df.columns.str.startswith('SE_A17009')]

,SE_A17009_001,SE_A17009_002,SE_A17009_003,SE_A17009_004,SE_A17009_005,SE_A17009_006
zip_code,,,,,,
10001,14360.0,10457.0,758.0,1924.0,1221.0,0.0
10002,33532.0,23190.0,3369.0,3860.0,2808.0,305.0
10003,32394.0,22643.0,1977.0,4271.0,3465.0,38.0
10004,2076.0,1520.0,72.0,309.0,161.0,14.0
10005,6762.0,5594.0,175.0,471.0,522.0,0.0
...,...,...,...,...,...,...
19971,6410.0,3853.0,908.0,1221.0,428.0,0.0
19973,11343.0,8069.0,1198.0,1277.0,773.0,26.0
19975,4092.0,2749.0,573.0,506.0,256.0,8.0
19977,11140.0,6988.0,2737.0,630.0,785.0,0.0
19979,461.0,294.0,133.0,25.0,9.0,0.0

In [143]:
df.loc[:, 'employedPvtSecProportion'] = ((df.loc[:,('SE_A17009_002')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPubSecProportion'] = ((df.loc[:,('SE_A17009_003')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedSelfEmpProportion'] = ((df.loc[:,('SE_A17009_004')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPvtNonProProportion'] = ((df.loc[:,('SE_A17009_005')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedUnpaidFamProportion'] = ((df.loc[:,('SE_A17009_006')].values) / (df.loc[:,('SE_A17009_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17009')] # Drop the columns from the table after processing

In [144]:
df.loc[:, 'employedUnpaidFamProportion']

zip_code
10001    0.000000
10002    0.009096
10003    0.001173
10004    0.006744
10005    0.000000
           ...
19971    0.000000
19973    0.002292
19975    0.001955
19977    0.000000
19979    0.000000
Name: employedUnpaidFamProportion, Length: 2882, dtype: float64

## Health

In [145]:
df.loc[: ,df.columns.str.startswith('SE_A20001')]

,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005
zip_code,,,,,
10001,22924.0,988.0,21936.0,5827.0,18113.0
10002,74755.0,4428.0,70327.0,39724.0,34989.0
10003,54550.0,2131.0,52419.0,9445.0,46911.0
10004,3028.0,149.0,2879.0,232.0,2775.0
10005,8831.0,237.0,8594.0,489.0,8336.0
...,...,...,...,...,...
19971,13183.0,493.0,12690.0,5751.0,10714.0
19973,24848.0,1801.0,23047.0,11436.0,15702.0
19975,9316.0,719.0,8597.0,4523.0,6584.0
19977,22551.0,1755.0,20796.0,8291.0,16752.0
19979,915.0,13.0,902.0,365.0,687.0

In [146]:
df = df.loc[df.loc[:,('SE_A20001_001')] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows
df.loc[:, 'insuredProportion'] = ((df.loc[:,('SE_A20001_003')].values) / (df.loc[:,('SE_A20001_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A20001')] # Drop the columns from the table after processing

In [147]:
df.shape

(2882, 24)

# Housing

### Proportion of renters spending more than 30% of income on rent

Here, we are only concerned with Renter-Occupied Housing Units who are paying the rent which is more than 30% of their income

In [148]:
df.loc[:, df.columns.str.startswith('SE_B18002')]

0         SE_B18002_001  SE_B18002_002  SE_B18002_003
zip_code
10001            9178.0         2050.0         1806.0
10002           29070.0         7806.0         6636.0
10003           17519.0         3385.0         3657.0
10004            1024.0          195.0          124.0
10005            3515.0          540.0          571.0
...                 ...            ...            ...
19971            1009.0          158.0          235.0
19973            2486.0          720.0          444.0
19975             933.0          363.0          152.0
19977            2110.0          543.0          359.0
19979              40.0            0.0            0.0

[2882 rows x 3 columns]

In [149]:
df = df.loc[df.loc[:, ('SE_B18002_001')] != 0] # Remove observations with 0 to avoid error while dividing
df.loc[:, 'housingRentMoreThan30pcProportion'] = ((df.loc[:,('SE_B18002_002')].values + df.loc[:,('SE_B18002_003')].values ) / (df.loc[:,('SE_B18002_001')].values))

In [150]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_B18002_001,SE_B18002_002,SE_B18002_003,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,37306.590,343400.0,9178.0,2050.0,1806.0,2065.0,0,0.131324,84765.0,0.5728,...,0.178033,0.015206,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135
10002,85369.800,665200.0,29070.0,7806.0,6636.0,963.0,1,0.263542,32694.0,0.5838,...,0.176612,0.035308,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801
10003,94859.580,1001200.0,17519.0,3385.0,3657.0,2298.0,0,0.087159,92781.0,0.5571,...,0.278889,0.004888,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964
10004,5622.904,1640600.0,1024.0,195.0,124.0,3235.0,0,0.024408,122165.0,0.4393,...,0.129787,0.000000,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523
10005,121496.400,1415400.0,3515.0,540.0,571.0,3226.0,0,0.108289,106702.0,0.4414,...,0.176844,0.000000,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074

In [151]:
df = df.loc[: ,~df.columns.str.startswith('SE_B18002')] # Drop the columns from the table after processing

In [152]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,37306.590,343400.0,2065.0,0,0.131324,84765.0,0.5728,37306.590,0.629122,0.082458,...,0.178033,0.015206,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135
10002,85369.800,665200.0,963.0,1,0.263542,32694.0,0.5838,85369.800,0.322270,0.340399,...,0.176612,0.035308,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801
10003,94859.580,1001200.0,2298.0,0,0.087159,92781.0,0.5571,94859.580,0.759135,0.038864,...,0.278889,0.004888,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964
10004,5622.904,1640600.0,3235.0,0,0.024408,122165.0,0.4393,5622.904,0.628137,0.010993,...,0.129787,0.000000,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523
10005,121496.400,1415400.0,3226.0,0,0.108289,106702.0,0.4414,121496.400,0.734232,0.007744,...,0.176844,0.000000,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074

In [153]:
df.shape

(2882, 22)

### Housing Units by Monthly Housing Costs

In [154]:
df.loc[:, df.columns.str.startswith('SE_A10036')]

0         SE_A10036_001
zip_code
10001          343400.0
10002          665200.0
10003         1001200.0
10004         1640600.0
10005         1415400.0
...                 ...
19971          413600.0
19973          181900.0
19975          336100.0
19977          230600.0
19979          210200.0

[2882 rows x 1 columns]

In [155]:
df.loc[:, 'housingMedianValue'] = ((df.loc[:,('SE_A10036_001')].values))

In [156]:
df = df.loc[: ,~df.columns.str.startswith('SE_A10036_')] # Drop the columns from the table after processing

In [157]:
df.head()

,SE_A00002_002,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,...,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,37306.590,2065.0,0,0.131324,84765.0,0.5728,37306.590,0.629122,0.082458,0.237364,...,0.015206,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135,343400.0
10002,85369.800,963.0,1,0.263542,32694.0,0.5838,85369.800,0.322270,0.340399,0.320014,...,0.035308,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801,665200.0
10003,94859.580,2298.0,0,0.087159,92781.0,0.5571,94859.580,0.759135,0.038864,0.159300,...,0.004888,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964,1001200.0
10004,5622.904,3235.0,0,0.024408,122165.0,0.4393,5622.904,0.628137,0.010993,0.084806,...,0.000000,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523,1640600.0
10005,121496.400,3226.0,0,0.108289,106702.0,0.4414,121496.400,0.734232,0.007744,0.107804,...,0.000000,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074,1415400.0

### Median Gross Rent

In [158]:
df.loc[:, df.columns.str.startswith('SE_A18009')]

0         SE_A18009_001
zip_code
10001            2065.0
10002             963.0
10003            2298.0
10004            3235.0
10005            3226.0
...                 ...
19971            1260.0
19973             899.0
19975            1076.0
19977            1099.0
19979             956.0

[2882 rows x 1 columns]

In [159]:
df.loc[:, 'housingMedianGrossRent'] = ((df.loc[:,('SE_A18009_001')].values))

In [160]:
df = df.loc[: ,~df.columns.str.startswith('SE_A18009_')] # Drop the columns from the table after processing

In [161]:
df.shape

(2882, 22)

In [162]:
df.head()

,SE_A00002_002,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,37306.590,0,0.131324,84765.0,0.5728,37306.590,0.629122,0.082458,0.237364,0.680178,...,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135,343400.0,2065.0
10002,85369.800,1,0.263542,32694.0,0.5838,85369.800,0.322270,0.340399,0.320014,0.339588,...,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801,665200.0,963.0
10003,94859.580,0,0.087159,92781.0,0.5571,94859.580,0.759135,0.038864,0.159300,0.801836,...,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964,1001200.0,2298.0
10004,5622.904,0,0.024408,122165.0,0.4393,5622.904,0.628137,0.010993,0.084806,0.904201,...,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523,1640600.0,3235.0
10005,121496.400,0,0.108289,106702.0,0.4414,121496.400,0.734232,0.007744,0.107804,0.884452,...,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074,1415400.0,3226.0

In [163]:
df.drop('SE_A00002_002',axis=1,inplace=True)

In [164]:
df.head()

,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,eduEnrollmentProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,0,0.131324,84765.0,0.5728,37306.590,0.629122,0.082458,0.237364,0.680178,0.178033,...,0.954533,0.728203,0.052786,0.133983,0.085028,0.000000,0.956901,0.420135,343400.0,2065.0
10002,1,0.263542,32694.0,0.5838,85369.800,0.322270,0.340399,0.320014,0.339588,0.176612,...,0.929920,0.691578,0.100471,0.115114,0.083741,0.009096,0.940767,0.496801,665200.0,963.0
10003,0,0.087159,92781.0,0.5571,94859.580,0.759135,0.038864,0.159300,0.801836,0.278889,...,0.943331,0.698987,0.061030,0.131845,0.106964,0.001173,0.960935,0.401964,1001200.0,2298.0
10004,0,0.024408,122165.0,0.4393,5622.904,0.628137,0.010993,0.084806,0.904201,0.129787,...,0.955361,0.732177,0.034682,0.148844,0.077553,0.006744,0.950793,0.311523,1640600.0,3235.0
10005,0,0.108289,106702.0,0.4414,121496.400,0.734232,0.007744,0.107804,0.884452,0.176844,...,0.968629,0.827270,0.025880,0.069654,0.077196,0.000000,0.973163,0.316074,1415400.0,3226.0

In [166]:
df.to_csv('preprocessed_2018.csv')