# Imports

In [1]:
#pip install pgeocode

In [1]:
import numpy as np
import pandas as pd
import pgeocode
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

# 2019

# Dataset
### CSV file needs some trimming before using it here. Columns not used and empty columns are removed manually

In [5]:
data19= pd.read_csv('C:\\Users\\ARU PC\\Documents\\GitHub\\DataTrimmed\\DataTrimmed\\2019_trimmed.csv')

C:\Users\ARU PC\AppData\Local\Temp\ipykernel_37052\3746647558.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088,1089,1090,1091,1092,1093,1094,1095,1096,1097,1098,1099,1100,1101,1102,1103,1104,1105,1106,1107,1108,1109,1110,1111,1112,1113,1114,1115,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1168,1169,1170,1171,1172,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1212,1213,1214,1215,1216,1217,1218,1219,1220,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240,1241,1242,1243,1244,1245,1246,1247,1248,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1262,1263,1264,1265,1266,1267,1268,1269,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279,1280,1281,1282,1283,1284,1285,1286,1287,1288,1289,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319,1320,1321,1322,1323,1324,1325,1326,1327,1328,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1409,1410,1411,1412,1413,1414,1415,1416,1417,1418,1419,1420,1421,1422,1423,1424,1425,1426,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1505,1506,1507,1508,1509,1510,1511,1512,1513,1514,1515,1516,1517,1518,1519,1520,1521,1522,1523,1524,1525,1526,1527,1528,1529,1530,1531,1532,1533,1534,1535,1536,1537,1538,1539,1540,1541,1542,1543,1544,1545,1546,1547,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1603,1604,1605,1606,1607,1608,1609,1610,1611,1612,1613,1614,1615,1616,1617,1618,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1630,1631,1632,1633,1634,1635,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1709,1710,1711,1712,1713,1714,1715,1716,1717,1718,1719,1720,1721,1722,1723,1724,1725,1726,1727,1728,1729,1730,1731,1732,1733,1734,1735,1736,1737,1738,1739,1740,1741,1742,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,1753,1754,1755,1756,1757,1758,1759,1760,1761,1762,1763,1764,1765,1766,1767,1768,1769,1770,1771,1772,1773,1774,1775,1776,1777,1778,1779,1780,1781,1782,1783,1784,1785,1786,1787,1788,1789,1790,1791,1792,1793,1794,1795,1796,1797,1798,1799,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,1810,1811,1812,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,1847,1848,1849,1850,1851,1852,1853,1854,1855,1856,1857,1858,1859,1860,1861,1862,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872,1873,1874,1875,1876,1877,1878,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2050,2051,2052,2053,2054,2055,2056,2057,2058,2059,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070,2071,2072,2073,2074,2075,2076,2077,2078,2079,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2090,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100,2101,2102,2103,2104,2105,2106,2107,2108,2109,2110,2111,2112,2113,2114,2115,2116,2117,2118,2119,2120,2121,2122,2123,2124,2125,2126,2127,2128,2129,2130,2131,2132,2133,2134,2135,2136,2137,2138,2139,2140,2141,2142,2143,2144,2145,2146,2147,2148,2149,2150,2151,2152,2153,2154,2155,2156,2157,2158,2159,2160,2161,2162,2163,2164,2165,2166,2167,2168,2169,2170,2171,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183,2184,2185) have mixed types. Specify dtype option on import or set low_memory=False.
  data19= pd.read_csv('C:\\Users\\ARU PC\\Documents\\GitHub\\DataTrimmed\\DataTrimmed\\2019_trimmed.csv')

In [6]:
data19.head()

,Name of Area,Total Population,Total Population.1,Population Density (Per Sq. Mile),Area (Land),Area Total:,Area Total: Area (Land),Area Total: Area (Water),Total Population:,Total Population: Male,...,Own Children under 18 Years,Own Children under 18 Years: Children Living with Single Parents,Households,Households: 1-Person Household,Households: 2-Person Household,Households: 3-Person Household,Households: 4-Person Household,Households: 5-Person Household,Households: 6-Person Household,Households: 7-or-More Person Household
0,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17312,17312,1504.784,11.50464326,12.32182,11.50464,0.8171791,17312,8283,...,2670,787,7413,2747,2688,882,669,312,56,59
2,1002,30014,30014,545.0684,55.06465049,56.71828,55.06465,1.653627,30014,14457,...,3436,1337,9798,2842,3024,1485,1779,512,124,32
3,1003,11357,11357,15965.43,0.711349628,0.7162871,0.7113496,0.004937475,11357,5839,...,0,0,42,24,14,0,4,0,0,0
4,1005,5128,5128,115.8552,44.26213249,44.51944,44.26213,0.2573078,5128,2388,...,820,109,1944,537,648,376,213,139,13,18

# Working dataset copy

In [7]:
df = data19.copy()

In [8]:
df.head()

,Name of Area,Total Population,Total Population.1,Population Density (Per Sq. Mile),Area (Land),Area Total:,Area Total: Area (Land),Area Total: Area (Water),Total Population:,Total Population: Male,...,Own Children under 18 Years,Own Children under 18 Years: Children Living with Single Parents,Households,Households: 1-Person Household,Households: 2-Person Household,Households: 3-Person Household,Households: 4-Person Household,Households: 5-Person Household,Households: 6-Person Household,Households: 7-or-More Person Household
0,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17312,17312,1504.784,11.50464326,12.32182,11.50464,0.8171791,17312,8283,...,2670,787,7413,2747,2688,882,669,312,56,59
2,1002,30014,30014,545.0684,55.06465049,56.71828,55.06465,1.653627,30014,14457,...,3436,1337,9798,2842,3024,1485,1779,512,124,32
3,1003,11357,11357,15965.43,0.711349628,0.7162871,0.7113496,0.004937475,11357,5839,...,0,0,42,24,14,0,4,0,0,0
4,1005,5128,5128,115.8552,44.26213249,44.51944,44.26213,0.2573078,5128,2388,...,820,109,1944,537,648,376,213,139,13,18

# Preprocess Data

## Extract zip codes

In [98]:
#df.insert(0, 'zip_code', df[('Area Name', 'Geo_NAME')].astype(str).str[4:])
#df.drop('Area Name', level = 0, axis =1, inplace=True)

In [9]:
df.columns = df.iloc[0]

In [10]:
df = df.drop(df.index[0])

In [11]:
df.head()

,Geo_NAME,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17312,17312,1504.784,11.50464326,12.32182,11.50464,0.8171791,17312,8283,...,2670,787,7413,2747,2688,882,669,312,56,59
2,1002,30014,30014,545.0684,55.06465049,56.71828,55.06465,1.653627,30014,14457,...,3436,1337,9798,2842,3024,1485,1779,512,124,32
3,1003,11357,11357,15965.43,0.711349628,0.7162871,0.7113496,0.004937475,11357,5839,...,0,0,42,24,14,0,4,0,0,0
4,1005,5128,5128,115.8552,44.26213249,44.51944,44.26213,0.2573078,5128,2388,...,820,109,1944,537,648,376,213,139,13,18
5,1007,15005,15005,285.2606,52.60103444,55.28222,52.60104,2.681184,15005,7609,...,3122,567,5563,1040,2190,819,1032,395,87,0

In [12]:
df.rename(columns={'Geo_NAME': 'zip_code'}, inplace=True)

In [13]:
df.head()

,zip_code,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
1,1001,17312,17312,1504.784,11.50464326,12.32182,11.50464,0.8171791,17312,8283,...,2670,787,7413,2747,2688,882,669,312,56,59
2,1002,30014,30014,545.0684,55.06465049,56.71828,55.06465,1.653627,30014,14457,...,3436,1337,9798,2842,3024,1485,1779,512,124,32
3,1003,11357,11357,15965.43,0.711349628,0.7162871,0.7113496,0.004937475,11357,5839,...,0,0,42,24,14,0,4,0,0,0
4,1005,5128,5128,115.8552,44.26213249,44.51944,44.26213,0.2573078,5128,2388,...,820,109,1944,537,648,376,213,139,13,18
5,1007,15005,15005,285.2606,52.60103444,55.28222,52.60104,2.681184,15005,7609,...,3122,567,5563,1040,2190,819,1032,395,87,0

In [14]:
df = df.loc[pd.to_numeric(df.zip_code).between(10000,20000)] # Filtering rows to limit the data we work on. Selecting group of states starting with 1

In [15]:
df.set_index('zip_code', inplace=True)

C:\Users\ARU PC\anaconda3\lib\site-packages\pandas\core\indexes\base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

In [16]:
df.shape

(3658, 2185)

In [17]:
df.head()

,SE_A00001_001,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A00003_001,SE_A00003_002,SE_A00003_003,SE_A02001_001,SE_A02001_002,SE_A02001_003,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117,24117,39247.86,0.614479,0.614479,0.614479,0.0,24117,12181,11936,...,1832,539,12997,7026,3975,1248,541,189,18,0
10002,74479,74479,84784.6,0.87845,0.87845,0.87845,0.0,74479,34989,39490,...,7511,3602,33459,14174,10367,4771,2797,986,166,198
10003,53977,53977,93636.64,0.576452,0.576452,0.576452,0.0,53977,26964,27013,...,3032,538,26043,14621,8270,1887,1172,85,0,8
10004,3335,3335,6192.994,0.538512,0.54241,0.538512,0.003898,3335,1432,1903,...,382,53,1777,811,569,294,90,13,0,0
10005,8701,8701,119707.9,0.072685,0.072685,0.072685,0.0,8701,4109,4592,...,1037,134,4363,1811,1753,379,407,13,0,0

### Extracting only the tables required for the analysis from the dataset

In [18]:
table_names = ['SE_B13004', 'SE_B18002', 'SE_A03001', 'SE_A13007', 'SE_A14028','SE_A14024_', 'SE_B12001', 'SE_A12003', 'SE_A12004', 'SE_A17005', 'SE_A17009', 'SE_A20001', 'SE_A00002','SE_A10036','SE_A18009']
matching_columns = [col for col in df.columns if col.startswith(tuple(table_names))]
df = df.loc[:, df.columns.isin(matching_columns)]
df = df.astype(float)

In [19]:
# Check for missing values
df = df.dropna() # Drop rows with missing values

In [20]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117.0,39247.860,0.614479,24117.0,15677.0,1510.0,16.0,5377.0,21.0,799.0,...,2716.0,922.0,623.0,299.0,1794.0,18576.0,14926.0,14455.0,471.0,3650.0
10002,74479.0,84784.600,0.878450,74479.0,23849.0,6635.0,724.0,31198.0,22.0,8924.0,...,17186.0,4172.0,3188.0,984.0,13014.0,48383.0,31380.0,30147.0,1233.0,17003.0
10003,53977.0,93636.640,0.576452,53977.0,40681.0,3007.0,81.0,7812.0,73.0,1155.0,...,3960.0,1249.0,798.0,451.0,2711.0,37467.0,29962.0,29098.0,864.0,7505.0
10004,3335.0,6192.994,0.538512,3335.0,2033.0,142.0,0.0,992.0,17.0,35.0,...,44.0,1.0,0.0,1.0,43.0,2926.0,2473.0,2388.0,85.0,453.0
10005,8701.0,119707.900,0.072685,8701.0,6532.0,94.0,0.0,1543.0,0.0,217.0,...,796.0,626.0,577.0,49.0,170.0,6901.0,6390.0,6222.0,168.0,511.0

In [21]:
df.shape

(2903, 80)

## Processing dataset column wise

### Processing Y variable
The number of families for each zip code are available for poverty ratios less than 1, between 1 and 2 and more than 2.
All the families with ratio under 2 are considered to be 'poor' or 'struggling' and over 2 are considered to be ok.  
  
Based on this information, we convert this information into one column which has values 0 or 1  
0 - if more than 50% of families in the zip code have a ratio over 2 ('ok')  
1 - if 50% or more of families in the zip code are having ratio under 2 ('struggling')

In [22]:
df.loc[:, df.columns.str.startswith('SE_B13004')]

,SE_B13004_001,SE_B13004_002,SE_B13004_003,SE_B13004_004,SE_B13004_005
zip_code,,,,,
10001,23150.0,3023.0,2167.0,5190.0,17960.0
10002,73822.0,20199.0,17029.0,37228.0,36594.0
10003,44342.0,4081.0,3079.0,7160.0,37182.0
10004,3335.0,44.0,85.0,129.0,3206.0
10005,8701.0,823.0,234.0,1057.0,7644.0
...,...,...,...,...,...
19971,13703.0,694.0,1232.0,1926.0,11777.0
19973,24321.0,3529.0,3585.0,7114.0,17207.0
19975,9643.0,783.0,1696.0,2479.0,7164.0
19977,22671.0,1788.0,3926.0,5714.0,16957.0
19979,718.0,35.0,200.0,235.0,483.0

In [23]:
df['underPoverty'] = np.where(df[('SE_B13004_005')].div(df[('SE_B13004_001')]) < 0.5,1,0) 
df = df.loc[: ,~df.columns.str.startswith('SE_B13004')] # Drop the columns from the table after processing

In [24]:
len(df.loc[df['underPoverty'] == 1]) # There are 178 zip codes in region 1 which have more than 50% of families that are poor or struggling

178

In [25]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011,underPoverty
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117.0,39247.860,0.614479,24117.0,15677.0,1510.0,16.0,5377.0,21.0,799.0,...,922.0,623.0,299.0,1794.0,18576.0,14926.0,14455.0,471.0,3650.0,0
10002,74479.0,84784.600,0.878450,74479.0,23849.0,6635.0,724.0,31198.0,22.0,8924.0,...,4172.0,3188.0,984.0,13014.0,48383.0,31380.0,30147.0,1233.0,17003.0,1
10003,53977.0,93636.640,0.576452,53977.0,40681.0,3007.0,81.0,7812.0,73.0,1155.0,...,1249.0,798.0,451.0,2711.0,37467.0,29962.0,29098.0,864.0,7505.0,0
10004,3335.0,6192.994,0.538512,3335.0,2033.0,142.0,0.0,992.0,17.0,35.0,...,1.0,0.0,1.0,43.0,2926.0,2473.0,2388.0,85.0,453.0,0
10005,8701.0,119707.900,0.072685,8701.0,6532.0,94.0,0.0,1543.0,0.0,217.0,...,626.0,577.0,49.0,170.0,6901.0,6390.0,6222.0,168.0,511.0,0

# Income

### Below Poverty line
Poverty Status in the Past 12 Months based on income level. Proportion of population having income below poverty level

In [26]:
df.loc[:, df.columns.str.startswith('SE_A13007')]

,SE_A13007_001,SE_A13007_002,SE_A13007_003,SE_A13007_004,SE_A13007_005,SE_A13007_006,SE_A13007_007,SE_A13007_008,SE_A13007_009,SE_A13007_010,SE_A13007_011
zip_code,,,,,,,,,,,
10001,21292.0,2716.0,922.0,623.0,299.0,1794.0,18576.0,14926.0,14455.0,471.0,3650.0
10002,65569.0,17186.0,4172.0,3188.0,984.0,13014.0,48383.0,31380.0,30147.0,1233.0,17003.0
10003,41427.0,3960.0,1249.0,798.0,451.0,2711.0,37467.0,29962.0,29098.0,864.0,7505.0
10004,2970.0,44.0,1.0,0.0,1.0,43.0,2926.0,2473.0,2388.0,85.0,453.0
10005,7697.0,796.0,626.0,577.0,49.0,170.0,6901.0,6390.0,6222.0,168.0,511.0
...,...,...,...,...,...,...,...,...,...,...,...
19971,12888.0,646.0,215.0,203.0,12.0,431.0,12242.0,6548.0,6402.0,146.0,5694.0
19973,19723.0,2433.0,1030.0,691.0,339.0,1403.0,17290.0,11184.0,10784.0,400.0,6106.0
19975,8409.0,701.0,299.0,254.0,45.0,402.0,7708.0,3802.0,3681.0,121.0,3906.0
19977,17775.0,1410.0,548.0,386.0,162.0,862.0,16365.0,10937.0,10597.0,340.0,5428.0
19979,602.0,35.0,12.0,12.0,0.0,23.0,567.0,362.0,359.0,3.0,205.0

In [27]:
df['incomeBelowPovertyLevelProportion'] = ((df[('SE_A13007_002')].values) /(df[('SE_A13007_001')]))
df.incomeBelowPovertyLevelProportion.describe()
df = df.loc[: ,~df.columns.str.startswith('SE_A13007')] # Drop the columns from the table after processing

## Per Capita

In [28]:
df.loc[:, 'incomePerCapita'] = df.loc[: ,df.columns.str.startswith('SE_A14024')].values
df = df.loc[: ,~df.columns.str.startswith('SE_A14024')] # Drop the columns from the table after processing
df.incomePerCapita.describe()

count      2903.000000
mean      34460.281089
std       15345.733097
min        4744.000000
25%       25991.000000
50%       30529.000000
75%       37915.000000
max      152846.000000
Name: incomePerCapita, dtype: float64

## GiniIndex

In [29]:
df.loc[:, 'incomeGiniIndex'] = df.loc[: ,df.columns.str.startswith('SE_A14028_001')]

In [30]:
df = df.loc[: ,~df.columns.str.startswith('SE_A14028')] # Drop the columns from the table after processing

In [31]:
df.incomeGiniIndex.describe()

count    2903.000000
mean        0.420308
std         0.057863
min         0.170400
25%         0.384700
50%         0.415800
75%         0.452900
max         0.729100
Name: incomeGiniIndex, dtype: float64

In [32]:
df.head()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117.0,39247.860,0.614479,24117.0,15677.0,1510.0,16.0,5377.0,21.0,799.0,...,2128.0,24117.0,741.0,23376.0,6579.0,18749.0,0,0.127560,88795.0,0.5737
10002,74479.0,84784.600,0.878450,74479.0,23849.0,6635.0,724.0,31198.0,22.0,8924.0,...,980.0,74198.0,4103.0,70095.0,40074.0,34437.0,1,0.262106,33309.0,0.5814
10003,53977.0,93636.640,0.576452,53977.0,40681.0,3007.0,81.0,7812.0,73.0,1155.0,...,2331.0,53829.0,1998.0,51831.0,10275.0,45890.0,0,0.095590,97391.0,0.5627
10004,3335.0,6192.994,0.538512,3335.0,2033.0,142.0,0.0,992.0,17.0,35.0,...,3324.0,3335.0,142.0,3193.0,205.0,3107.0,0,0.014815,136523.0,0.4420
10005,8701.0,119707.900,0.072685,8701.0,6532.0,94.0,0.0,1543.0,0.0,217.0,...,3356.0,8701.0,225.0,8476.0,584.0,8111.0,0,0.103417,116798.0,0.4065

In [33]:
df.shape

(2903, 66)

In [34]:
df.dropna()

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117.0,39247.8600,0.614479,24117.0,15677.0,1510.0,16.0,5377.0,21.0,799.0,...,2128.0,24117.0,741.0,23376.0,6579.0,18749.0,0,0.127560,88795.0,0.5737
10002,74479.0,84784.6000,0.878450,74479.0,23849.0,6635.0,724.0,31198.0,22.0,8924.0,...,980.0,74198.0,4103.0,70095.0,40074.0,34437.0,1,0.262106,33309.0,0.5814
10003,53977.0,93636.6400,0.576452,53977.0,40681.0,3007.0,81.0,7812.0,73.0,1155.0,...,2331.0,53829.0,1998.0,51831.0,10275.0,45890.0,0,0.095590,97391.0,0.5627
10004,3335.0,6192.9940,0.538512,3335.0,2033.0,142.0,0.0,992.0,17.0,35.0,...,3324.0,3335.0,142.0,3193.0,205.0,3107.0,0,0.014815,136523.0,0.4420
10005,8701.0,119707.9000,0.072685,8701.0,6532.0,94.0,0.0,1543.0,0.0,217.0,...,3356.0,8701.0,225.0,8476.0,584.0,8111.0,0,0.103417,116798.0,0.4065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19971,13739.0,830.0577,16.551862,13739.0,12831.0,509.0,22.0,252.0,0.0,24.0,...,1348.0,13714.0,332.0,13382.0,6073.0,11159.0,0,0.050124,66408.0,0.5284
19973,24745.0,314.5897,78.658008,24745.0,16706.0,6261.0,0.0,370.0,0.0,487.0,...,902.0,24460.0,1729.0,22731.0,10734.0,15826.0,0,0.123359,28583.0,0.4257
19975,9661.0,354.9685,27.216497,9661.0,8514.0,435.0,40.0,202.0,0.0,226.0,...,1124.0,9592.0,623.0,8969.0,4888.0,6687.0,0,0.083363,39612.0,0.4775
19977,25670.0,307.9976,83.344812,25670.0,17264.0,7164.0,23.0,136.0,0.0,123.0,...,1091.0,22684.0,1765.0,20919.0,8476.0,16653.0,0,0.079325,29902.0,0.4188
19979,719.0,354.4215,2.028658,719.0,627.0,56.0,0.0,7.0,0.0,0.0,...,945.0,719.0,8.0,711.0,276.0,580.0,0,0.058140,29735.0,0.2765

## Race, Population

In [35]:
df.head(2)

,SE_A00002_001,SE_A00002_002,SE_A00002_003,SE_A03001_001,SE_A03001_002,SE_A03001_003,SE_A03001_004,SE_A03001_005,SE_A03001_006,SE_A03001_007,...,SE_A18009_001,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,24117.0,39247.86,0.614479,24117.0,15677.0,1510.0,16.0,5377.0,21.0,799.0,...,2128.0,24117.0,741.0,23376.0,6579.0,18749.0,0,0.127560,88795.0,0.5737
10002,74479.0,84784.60,0.878450,74479.0,23849.0,6635.0,724.0,31198.0,22.0,8924.0,...,980.0,74198.0,4103.0,70095.0,40074.0,34437.0,1,0.262106,33309.0,0.5814

In [36]:
df.loc[:, 'popDensity'] = df.loc[:,('SE_A00002_002')].values 
df = df.loc[: ,~df.columns.str.startswith('SE_A00001')] # Drop the columns from the table after processing
df.popDensity.describe()

count      2903.000000
mean       3984.440587
std       13345.854022
min           0.851130
25%          66.848010
50%         260.445400
75%        1736.791000
max      149289.800000
Name: popDensity, dtype: float64

In [37]:
df.drop(['SE_A00002_001','SE_A00002_003', ], axis = 1, inplace = True) #dropping Total population and population density

### White Majority
We check if white-only population is the majority in a zip code  
Primarily non-white areas might be experiencing higher levels of poverty.  
0 - if less than 50% of population in the zip code are white  
1 - if more than 50% of families in the zip code are non-white

In [38]:
df.drop(df.loc[df.loc[:,df.columns.str.startswith('SE_A03001_001')].isin([0]).any(axis = 1)].index, inplace = True) #dropping any null values
df.loc[:, 'whiteMajority'] = ((df.loc[:,'SE_A03001_002'].values) / (df.loc[:,'SE_A03001_001'].values)) # If the proportion of white alone population is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A03001')] # Drop the columns from the table after processing
df['whiteMajority'].describe()

count    2903.000000
mean        0.865409
std         0.189146
min         0.024178
25%         0.843284
50%         0.943174
75%         0.977218
max         1.000000
Name: whiteMajority, dtype: float64

## Education

### Highest degree attainment

In [39]:
df.loc[: ,df.columns.str.startswith('SE_B12001_')]

0         SE_B12001_001  SE_B12001_002  SE_B12001_003  SE_B12001_004
zip_code
10001           19052.0         1754.0         4295.0        13003.0
10002           59346.0        20003.0        19530.0        19813.0
10003           37899.0         1685.0         6078.0        30136.0
10004            2837.0           30.0          201.0         2606.0
10005            6449.0           15.0          609.0         5825.0
...                 ...            ...            ...            ...
19971           12052.0          514.0         5161.0         6377.0
19973           17629.0         2920.0        11406.0         3303.0
19975            7940.0          915.0         4553.0         2472.0
19977           18212.0         1914.0        12067.0         4231.0
19979             576.0           52.0          438.0           86.0

[2903 rows x 4 columns]

In [40]:
df = df.loc[df['SE_B12001_001'] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows

In [41]:
df.loc[:, 'eduHsOrLessProportion'] = ((df.loc[:,('SE_B12001_002')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduHsProportion'] = ((df.loc[:,('SE_B12001_003')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df.loc[:, 'eduBachOrBetterProportion'] = ((df.loc[:,('SE_B12001_004')].values) / (df.loc[:,('SE_B12001_001')].values)) # Proportion of 25yo and over with less than high school education
df = df.loc[: ,~df.columns.str.startswith('SE_B12001_')] # Drop the columns from the table after processing
print(df.eduHsOrLessProportion.describe())
print(df.eduHsProportion.describe())
print(df.eduBachOrBetterProportion.describe())

count    2903.000000
mean        0.102190
std         0.064212
min         0.000000
25%         0.058408
50%         0.089188
75%         0.129797
max         0.503417
Name: eduHsOrLessProportion, dtype: float64
count    2903.000000
mean        0.620526
std         0.143563
min         0.070849
25%         0.547112
50%         0.654756
75%         0.722294
max         1.000000
Name: eduHsProportion, dtype: float64
count    2903.000000
mean        0.277284
std         0.163009
min         0.000000
25%         0.159147
50%         0.233132
75%         0.354705
max         0.918576
Name: eduBachOrBetterProportion, dtype: float64

### School Enrollment

In [42]:
df.loc[: ,df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing

0         SE_A12004_001  SE_A12004_002  SE_A12004_003
zip_code
10001           23594.0         3968.0        19626.0
10002           72868.0        12921.0        59947.0
10003           52951.0        14562.0        38389.0
10004            3212.0          354.0         2858.0
10005            8440.0         1334.0         7106.0
...                 ...            ...            ...
19971           13592.0         1388.0        12204.0
19973           23947.0         5573.0        18374.0
19975            9446.0         1398.0         8048.0
19977           24945.0         6048.0        18897.0
19979             711.0          130.0          581.0

[2903 rows x 3 columns]

In [43]:
df.loc[:, 'eduEnrollmentProportion'] = ((df.loc[:,('SE_A12004_002')].values) / (df.loc[:,('SE_A12004_001')].values)) # If the proportion of 3yo and over enrolled in school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12004')] # Drop the columns from the table after processing
df['eduEnrollmentProportion'].describe()

count    2903.000000
mean        0.220082
std         0.063827
min         0.000000
25%         0.186179
50%         0.216708
75%         0.249972
max         0.908617
Name: eduEnrollmentProportion, dtype: float64

### School Dropout rate

In [44]:
df = df.loc[df['SE_A12003_001'] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [45]:
df.loc[:, 'eduDropoutProportion'] = ((df.loc[:,('SE_A12003_002')].values) / (df.loc[:,('SE_A12003_001')].values)) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df = df.loc[: ,~df.columns.str.startswith('SE_A12003')] # Drop the columns from the table after processing
df.eduDropoutProportion.describe()

count    2856.000000
mean        0.051578
std         0.100601
min         0.000000
25%         0.000000
50%         0.011668
75%         0.059148
max         1.000000
Name: eduDropoutProportion, dtype: float64

# Employement

## Proportion of labor force employed

In [46]:
df.loc[: ,df.columns.str.startswith('SE_A17005')]

,SE_A17005_001,SE_A17005_002,SE_A17005_003,SE_A17005A_001,SE_A17005A_002,SE_A17005A_003,SE_A17005B_001,SE_A17005B_002,SE_A17005B_003
zip_code,,,,,,,,,
10001,15995.0,15189.0,806.0,8913.0,8524.0,389.0,7082.0,6665.0,417.0
10002,35647.0,33430.0,2217.0,17915.0,16593.0,1322.0,17732.0,16837.0,895.0
10003,33640.0,32036.0,1604.0,17571.0,16793.0,778.0,16069.0,15243.0,826.0
10004,2474.0,2388.0,86.0,1191.0,1150.0,41.0,1283.0,1238.0,45.0
10005,7016.0,6799.0,217.0,3434.0,3434.0,0.0,3582.0,3365.0,217.0
...,...,...,...,...,...,...,...,...,...
19970,3840.0,3710.0,130.0,2005.0,1974.0,31.0,1835.0,1736.0,99.0
19971,6763.0,6605.0,158.0,3537.0,3435.0,102.0,3226.0,3170.0,56.0
19973,12214.0,11475.0,739.0,6222.0,5797.0,425.0,5992.0,5678.0,314.0
19975,4101.0,3935.0,166.0,2258.0,2161.0,97.0,1843.0,1774.0,69.0
19977,11485.0,10983.0,502.0,5874.0,5617.0,257.0,5611.0,5366.0,245.0

In [47]:
df = df.loc[df.loc[:,('SE_A17005_001')] != 0] # Some of the zip codes have 0 civilian population. To avoid RuntimeWarning we drop these rows

In [48]:
# df.loc[:, 'employedMajority'] = np.where((df.loc[:,('Civilian Population in Labor Force 16 Years and Over: Employed' ,'SE_A17005_002')].values) / (df.loc[:,('Civilian Population in Labor Force 16 Years and Over:','SE_A17005_001')].values) > 0.5,1,0) # If the proportion of late teens dropped out from school is more than 50% we set this binary variable to 1
df.loc[:, 'employedProportion'] = ((df.loc[:,('SE_A17005_002')].values) / (df.loc[:,('SE_A17005_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17005')] # Drop the columns from the table after processing
df.employedProportion.describe()

count    2856.000000
mean        0.948727
std         0.031007
min         0.648963
25%         0.936530
50%         0.954567
75%         0.968162
max         1.000000
Name: employedProportion, dtype: float64

### Employment by sector

In [49]:
df.loc[: ,df.columns.str.startswith('SE_A17009')]

,SE_A17009_001,SE_A17009_002,SE_A17009_003,SE_A17009_004,SE_A17009_005,SE_A17009_006
zip_code,,,,,,
10001,15189.0,11144.0,796.0,1934.0,1315.0,0.0
10002,33430.0,23082.0,3484.0,3783.0,2742.0,339.0
10003,32036.0,22103.0,1980.0,4371.0,3554.0,28.0
10004,2388.0,1661.0,115.0,355.0,239.0,18.0
10005,6799.0,5653.0,148.0,520.0,478.0,0.0
...,...,...,...,...,...,...
19970,3710.0,2236.0,546.0,631.0,297.0,0.0
19971,6605.0,4013.0,931.0,1234.0,427.0,0.0
19973,11475.0,8086.0,1172.0,1333.0,840.0,44.0
19975,3935.0,2374.0,657.0,497.0,398.0,9.0
19977,10983.0,6839.0,2545.0,819.0,780.0,0.0

In [50]:
df.loc[:, 'employedPvtSecProportion'] = ((df.loc[:,('SE_A17009_002')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPubSecProportion'] = ((df.loc[:,('SE_A17009_003')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedSelfEmpProportion'] = ((df.loc[:,('SE_A17009_004')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedPvtNonProProportion'] = ((df.loc[:,('SE_A17009_005')].values) / (df.loc[:,('SE_A17009_001')].values))
df.loc[:, 'employedUnpaidFamProportion'] = ((df.loc[:,('SE_A17009_006')].values) / (df.loc[:,('SE_A17009_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A17009')] # Drop the columns from the table after processing

In [51]:
df.loc[:, 'employedUnpaidFamProportion']

zip_code
10001    0.000000
10002    0.010141
10003    0.000874
10004    0.007538
10005    0.000000
           ...
19970    0.000000
19971    0.000000
19973    0.003834
19975    0.002287
19977    0.000000
Name: employedUnpaidFamProportion, Length: 2856, dtype: float64

## Health

In [52]:
df.loc[: ,df.columns.str.startswith('SE_A20001')]

,SE_A20001_001,SE_A20001_002,SE_A20001_003,SE_A20001_004,SE_A20001_005
zip_code,,,,,
10001,24117.0,741.0,23376.0,6579.0,18749.0
10002,74198.0,4103.0,70095.0,40074.0,34437.0
10003,53829.0,1998.0,51831.0,10275.0,45890.0
10004,3335.0,142.0,3193.0,205.0,3107.0
10005,8701.0,225.0,8476.0,584.0,8111.0
...,...,...,...,...,...
19970,8505.0,226.0,8279.0,4113.0,6757.0
19971,13714.0,332.0,13382.0,6073.0,11159.0
19973,24460.0,1729.0,22731.0,10734.0,15826.0
19975,9592.0,623.0,8969.0,4888.0,6687.0
19977,22684.0,1765.0,20919.0,8476.0,16653.0

In [53]:
df = df.loc[df.loc[:,('SE_A20001_001')] != 0] # Some of the zip codes have 0. To avoid RuntimeWarning we drop these rows
df.loc[:, 'insuredProportion'] = ((df.loc[:,('SE_A20001_003')].values) / (df.loc[:,('SE_A20001_001')].values))
df = df.loc[: ,~df.columns.str.startswith('SE_A20001')] # Drop the columns from the table after processing

In [54]:
df.shape

(2856, 24)

# Housing

### Proportion of renters spending more than 30% of income on rent

Here, we are only concerned with Renter-Occupied Housing Units who are paying the rent which is more than 30% of their income

In [55]:
df.loc[:, df.columns.str.startswith('SE_B18002')]

0         SE_B18002_001  SE_B18002_002  SE_B18002_003
zip_code
10001            9712.0         2176.0         1897.0
10002           28933.0         7921.0         7058.0
10003           17598.0         3302.0         3973.0
10004            1104.0          238.0          119.0
10005            3444.0          557.0          461.0
...                 ...            ...            ...
19970             524.0          138.0           67.0
19971             812.0          159.0          222.0
19973            2512.0          701.0          478.0
19975             869.0          343.0          174.0
19977            1858.0          439.0          417.0

[2856 rows x 3 columns]

In [56]:
df = df.loc[df.loc[:, ('SE_B18002_001')] != 0] # Remove observations with 0 to avoid error while dividing
df.loc[:, 'housingRentMoreThan30pcProportion'] = ((df.loc[:,('SE_B18002_002')].values + df.loc[:,('SE_B18002_003')].values ) / (df.loc[:,('SE_B18002_001')].values))

In [57]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_B18002_001,SE_B18002_002,SE_B18002_003,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,39247.860,386800.0,9712.0,2176.0,1897.0,2128.0,0,0.127560,88795.0,0.5737,...,0.168178,0.000000,0.949609,0.733689,0.052406,0.127329,0.086576,0.000000,0.969275,0.419378
10002,84784.600,689700.0,28933.0,7921.0,7058.0,980.0,1,0.262106,33309.0,0.5814,...,0.177321,0.019763,0.937807,0.690458,0.104218,0.113162,0.082022,0.010141,0.944702,0.517713
10003,93636.640,1028900.0,17598.0,3302.0,3973.0,2331.0,0,0.095590,97391.0,0.5627,...,0.275009,0.003385,0.952319,0.689943,0.061805,0.136440,0.110938,0.000874,0.962882,0.413399
10004,6192.994,1783600.0,1104.0,238.0,119.0,3324.0,0,0.014815,136523.0,0.4420,...,0.110212,0.000000,0.965238,0.695561,0.048157,0.148660,0.100084,0.007538,0.957421,0.323370
10005,119707.900,1298900.0,3444.0,557.0,461.0,3356.0,0,0.103417,116798.0,0.4065,...,0.158057,0.000000,0.969071,0.831446,0.021768,0.076482,0.070304,0.000000,0.974141,0.295587

In [58]:
df = df.loc[: ,~df.columns.str.startswith('SE_B18002')] # Drop the columns from the table after processing

In [59]:
df.head()

,SE_A00002_002,SE_A10036_001,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,...,eduEnrollmentProportion,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,39247.860,386800.0,2128.0,0,0.127560,88795.0,0.5737,39247.860,0.650039,0.092064,...,0.168178,0.000000,0.949609,0.733689,0.052406,0.127329,0.086576,0.000000,0.969275,0.419378
10002,84784.600,689700.0,980.0,1,0.262106,33309.0,0.5814,84784.600,0.320211,0.337057,...,0.177321,0.019763,0.937807,0.690458,0.104218,0.113162,0.082022,0.010141,0.944702,0.517713
10003,93636.640,1028900.0,2331.0,0,0.095590,97391.0,0.5627,93636.640,0.753673,0.044460,...,0.275009,0.003385,0.952319,0.689943,0.061805,0.136440,0.110938,0.000874,0.962882,0.413399
10004,6192.994,1783600.0,3324.0,0,0.014815,136523.0,0.4420,6192.994,0.609595,0.010575,...,0.110212,0.000000,0.965238,0.695561,0.048157,0.148660,0.100084,0.007538,0.957421,0.323370
10005,119707.900,1298900.0,3356.0,0,0.103417,116798.0,0.4065,119707.900,0.750718,0.002326,...,0.158057,0.000000,0.969071,0.831446,0.021768,0.076482,0.070304,0.000000,0.974141,0.295587

In [60]:
df.shape

(2856, 22)

### Housing Units by Monthly Housing Costs

In [61]:
df.loc[:, df.columns.str.startswith('SE_A10036')]

0         SE_A10036_001
zip_code
10001          386800.0
10002          689700.0
10003         1028900.0
10004         1783600.0
10005         1298900.0
...                 ...
19970          339700.0
19971          408000.0
19973          192900.0
19975          336500.0
19977          239100.0

[2856 rows x 1 columns]

In [62]:
df.loc[:, 'housingMedianValue'] = ((df.loc[:,('SE_A10036_001')].values))

In [63]:
df = df.loc[: ,~df.columns.str.startswith('SE_A10036_')] # Drop the columns from the table after processing

In [64]:
df.head()

,SE_A00002_002,SE_A18009_001,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,...,eduDropoutProportion,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,39247.860,2128.0,0,0.127560,88795.0,0.5737,39247.860,0.650039,0.092064,0.225436,...,0.000000,0.949609,0.733689,0.052406,0.127329,0.086576,0.000000,0.969275,0.419378,386800.0
10002,84784.600,980.0,1,0.262106,33309.0,0.5814,84784.600,0.320211,0.337057,0.329087,...,0.019763,0.937807,0.690458,0.104218,0.113162,0.082022,0.010141,0.944702,0.517713,689700.0
10003,93636.640,2331.0,0,0.095590,97391.0,0.5627,93636.640,0.753673,0.044460,0.160374,...,0.003385,0.952319,0.689943,0.061805,0.136440,0.110938,0.000874,0.962882,0.413399,1028900.0
10004,6192.994,3324.0,0,0.014815,136523.0,0.4420,6192.994,0.609595,0.010575,0.070849,...,0.000000,0.965238,0.695561,0.048157,0.148660,0.100084,0.007538,0.957421,0.323370,1783600.0
10005,119707.900,3356.0,0,0.103417,116798.0,0.4065,119707.900,0.750718,0.002326,0.094433,...,0.000000,0.969071,0.831446,0.021768,0.076482,0.070304,0.000000,0.974141,0.295587,1298900.0

### Median Gross Rent

In [65]:
df.loc[:, df.columns.str.startswith('SE_A18009')]

0         SE_A18009_001
zip_code
10001            2128.0
10002             980.0
10003            2331.0
10004            3324.0
10005            3356.0
...                 ...
19970            1344.0
19971            1348.0
19973             902.0
19975            1124.0
19977            1091.0

[2856 rows x 1 columns]

In [66]:
df.loc[:, 'housingMedianGrossRent'] = ((df.loc[:,('SE_A18009_001')].values))

In [67]:
df = df.loc[: ,~df.columns.str.startswith('SE_A18009_')] # Drop the columns from the table after processing

In [68]:
df.shape

(2856, 22)

In [69]:
df.head()

,SE_A00002_002,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,39247.860,0,0.127560,88795.0,0.5737,39247.860,0.650039,0.092064,0.225436,0.682501,...,0.949609,0.733689,0.052406,0.127329,0.086576,0.000000,0.969275,0.419378,386800.0,2128.0
10002,84784.600,1,0.262106,33309.0,0.5814,84784.600,0.320211,0.337057,0.329087,0.333856,...,0.937807,0.690458,0.104218,0.113162,0.082022,0.010141,0.944702,0.517713,689700.0,980.0
10003,93636.640,0,0.095590,97391.0,0.5627,93636.640,0.753673,0.044460,0.160374,0.795166,...,0.952319,0.689943,0.061805,0.136440,0.110938,0.000874,0.962882,0.413399,1028900.0,2331.0
10004,6192.994,0,0.014815,136523.0,0.4420,6192.994,0.609595,0.010575,0.070849,0.918576,...,0.965238,0.695561,0.048157,0.148660,0.100084,0.007538,0.957421,0.323370,1783600.0,3324.0
10005,119707.900,0,0.103417,116798.0,0.4065,119707.900,0.750718,0.002326,0.094433,0.903241,...,0.969071,0.831446,0.021768,0.076482,0.070304,0.000000,0.974141,0.295587,1298900.0,3356.0

In [70]:
df.drop('SE_A00002_002',axis=1,inplace=True)

In [71]:
df.head()

,underPoverty,incomeBelowPovertyLevelProportion,incomePerCapita,incomeGiniIndex,popDensity,whiteMajority,eduHsOrLessProportion,eduHsProportion,eduBachOrBetterProportion,eduEnrollmentProportion,...,employedProportion,employedPvtSecProportion,employedPubSecProportion,employedSelfEmpProportion,employedPvtNonProProportion,employedUnpaidFamProportion,insuredProportion,housingRentMoreThan30pcProportion,housingMedianValue,housingMedianGrossRent
zip_code,,,,,,,,,,,,,,,,,,,,,
10001,0,0.127560,88795.0,0.5737,39247.860,0.650039,0.092064,0.225436,0.682501,0.168178,...,0.949609,0.733689,0.052406,0.127329,0.086576,0.000000,0.969275,0.419378,386800.0,2128.0
10002,1,0.262106,33309.0,0.5814,84784.600,0.320211,0.337057,0.329087,0.333856,0.177321,...,0.937807,0.690458,0.104218,0.113162,0.082022,0.010141,0.944702,0.517713,689700.0,980.0
10003,0,0.095590,97391.0,0.5627,93636.640,0.753673,0.044460,0.160374,0.795166,0.275009,...,0.952319,0.689943,0.061805,0.136440,0.110938,0.000874,0.962882,0.413399,1028900.0,2331.0
10004,0,0.014815,136523.0,0.4420,6192.994,0.609595,0.010575,0.070849,0.918576,0.110212,...,0.965238,0.695561,0.048157,0.148660,0.100084,0.007538,0.957421,0.323370,1783600.0,3324.0
10005,0,0.103417,116798.0,0.4065,119707.900,0.750718,0.002326,0.094433,0.903241,0.158057,...,0.969071,0.831446,0.021768,0.076482,0.070304,0.000000,0.974141,0.295587,1298900.0,3356.0

In [73]:
df.to_csv('preprocessed_2019.csv')